<%= provide(:title, 'Application Process - Common fields') %>
<article class="flex w-2/3 mx-auto h-full flex-col pb-5 pt-8">
  <div class="grid max-w-8xl sm:grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <%= render '/job_applications/step_indicators' %>
    <div>
      <% @application_process.job_applications.each do |job_application| %>
        <h1><b><%= "#{job_application.job.title} => #{job_application.job.company.name}"%></h1></b><br/><br/>
        <% job_application.additional_info.each do |key, value| %>
          <%= "#{key} => #{value}" %><br/>
        <% end %>
        <br/><br/>
      <% end %>
    </div>
  </div>
</article>