<div class="modal chedBot show" id="chatbotModal" tabindex="-1" aria-labelledby="chatbotModalLabel" aria-hidden="true" data-chatbot-target="modal">
  <div class="modal-dialog">
    <div class="modal-content modal-slide-up">
      <div class="modal-header">
        <h5 class="modal-title ms-1" style="color: #6007C6;" id="chatbotModalLabel">CheddarGPT</h5>
        <button type="button" class="btn-close"  aria-label="Close" data-action="click->chatbot#close"></button>
      </div>
      <div class="modal-body">
        <div id="chat-messages" style="height: 300px; overflow-y: auto;" data-chatbot-target="messages">
          <!-- Chat interface goes here -->
        </div>
        <div class="modal-footer">
          <!-- Interaction elements like send button and input field -->
          <div class="d-flex justify-space-between flex-grow-1 m-0 p-0">
            <input class="flex-grow-1" type="text" id="chat-input" placeholder="Ask something..." data-chatbot-target="input" style="padding: 2px; margin: 2px;">
            <div type="button" class="btn btn-apply" data-action="click->chatbot#chat">Chat</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
