// Define variables for your color scheme

// For example:
$red: #D23333;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colour scheme variables
$main-color: #6007C6;
$secondary-color: #7114BC;
$tertiary-color: #8220B2;
$quaternary-color: #A4399D;
$quinary-color: #AC4BA6;
$senary-color: #B45BAE;

// Other color variables
$color-1: #E0BBE3;
$color-2: #CBB8F8;
$color-3: #BDB2FF;
