<article class="flex w-2/3 mx-auto h-full flex-col pb-10 pt-16">
  <h1 class="sr-only">Account Settings</h1>
  <header class="border-b border-zinc-900/5 dark:border-white/5">
    <nav class="flex overflow-x-auto py-4">
      <ul role="list" class="flex min-w-full flex-none gap-x-6 px-4 text-sm font-semibold leading-6 text-gray-400 sm:px-6 lg:px-8">
        <li>
          <!-- <a href="" class="text-indigo-600 dark:text-indigo-400">Account</a> -->
          <%= link_to "Account", edit_registration_path(resource_name, params: { view: 'account_information' }), class: ( params[:view].eql?('frequent_asked_information') ? "text-gray-400 hover:text-indigo-600" : "text-indigo-600 dark:text-indigo-400") %>
        </li>
        <li>
          <%= link_to "Frequent asked information", edit_registration_path(resource_name, params: { view: 'frequent_asked_information' }), class:  ( params[:view].eql?('frequent_asked_information') ? "text-indigo-600 dark:text-indigo-400" : "text-gray-400 hover:text-indigo-600") %>
        </li>
      </ul>
    </nav>
  </header>
  <div class="divide-y divide-zinc-900/5 dark:divide-white/5">
    <%= render 'account_information_form' unless params[:view].eql?('frequent_asked_information') %>
    <%= render 'frequent_asked_information_form' if params[:view].eql?('frequent_asked_information') %>
  </div>
</article>