<article class="flex w-2/3 mx-auto h-full flex-col pb-10 pt-16">
  <%= render "user_details/account_navigation_header" %>
  <div class="divide-y divide-zinc-900/5 dark:divide-white/5">
    <%= render 'update_email_form' %>
  </div>
  <div class="divide-y divide-zinc-900/5 dark:divide-white/5">
    <%= render 'update_password_form' %>
  </div>
</article>
