---
http_interactions:
- request:
    method: post
    uri: https://api.crunchbase.com/api/v4/searches/organizations?user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: UTF-8
      string: '{"field_ids":["name","short_description","linkedin","website_url","rank_org"],"order":[{"field_id":"rank_org","sort":"asc"}],"query":[{"type":"predicate","field_id":"website_url","operator_id":"domain_eq","values":["https://www.example.com"]}],"limit":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1718896317180"
      X-Cb-Engine:
      - search:elastic
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Minimum-Count:
      - '2'
      X-Cb-Engine-Page-Count:
      - '1'
      X-Cb-Engine-Took:
      - '5'
      X-Cb-Engine-Total-Count:
      - '2'
      X-Cb-Request-Took:
      - '21'
    body:
      encoding: UTF-8
      string: '{"count":2,"entities":[{"uuid":"c8c71908-7dbb-45ce-8ecb-d3c4f74e989a","properties":{"name":"E-Quake","identifier":{"permalink":"e-quake","image_id":"i02iuvci4rdvodn4b04c","uuid":"c8c71908-7dbb-45ce-8ecb-d3c4f74e989a","entity_def_id":"organization","value":"E-Quake"},"short_description":"E-Quake
        is a Technology Start-up","rank_org":463502,"website_url":"https://www.example.com"}}]}'
  recorded_at: Thu, 20 Jun 2024 15:11:57 GMT
recorded_with: VCR 6.2.0
