---
http_interactions:
- request:
    method: get
    uri: https://autocomplete.clearbit.com/v1/companies/suggest?query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 412
      message: Precondition Failed
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "message": "Invalid params. Check out the docs at https://clearbit.com/docs for usage examples."
        }
  recorded_at: Tue, 30 Apr 2024 14:53:11 GMT
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/autocompletes?query=&user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1714488792257"
      X-Cb-Engine:
      - autocomplete:algolia
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '1'
      X-Cb-Request-Took:
      - '31'
    body:
      encoding: UTF-8
      string: '{"count":3416858,"entities":[{"facet_ids":["contact","siftery","investor","ipqwery","apptopia","semrush","company","rank","builtwith","bombora","ai_insight","key_event"],"identifier":{"uuid":"fd80725f-53fc-7009-9878-aeecf1e9ffbb","value":"Microsoft","image_id":"v1501613147/ypg7mliwmzomf9fdrkvz.png","permalink":"microsoft","entity_def_id":"organization"},"short_description":"Microsoft
        is a software corporation that develops, manufactures, licenses, supports,
        and sells a range of software products and services."},{"facet_ids":["contact","siftery","investor","ipqwery","apptopia","semrush","company","rank","builtwith","bombora","ai_insight","key_event"],"identifier":{"uuid":"df14597c-3e51-8d58-9c15-fb3de3a34a54","value":"Samsung
        Electronics","image_id":"vndrwlr9hbpcc4lse15u","permalink":"samsung-electronics","entity_def_id":"organization"},"sho[...]
[...]
