// Application Summary
.company-apply-summary {
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.apply-company-logo {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
}

.company-logo img {
  width: 100%;
  height: auto;
}

.apply-label {
  background: $main-color;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Application Forms
.application-form {
  padding: 20px;
  border-radius: 8px;
}

.wrapper-mb-0 {
  margin-bottom: 0px !important;
}

.apply-form-group {
  margin-bottom: 15px;
}

.core-app-details {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
