.companies {
  margin-bottom: 20px;
}

.company-apply-summary {
  width: 600px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.apply-company-logo {
  display: inline-block;
  width: 50px; /* or the size your logos are */
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}
.company-logo img {
  width: 100%;
  height: auto;
}
.application-form {
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.wrapper-mb-0 {
  margin-bottom: 0px !important;
}

.apply-form-group {
  margin-bottom: 15px;
}

.apply-label {
  background: $main-color;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.core-details {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

// input[type="text"],
// input[type="password"],
// input[type="url"],
// input[type="file"] {
//   width: calc(100% - 22px);
//   padding: 10px;
//   border: 1px solid #ddd;
//   border-radius: 5px;
//   margin-bottom: 10px;
// }

// input[type="submit"] {
//   background-color: #4CAF50;
//   color: white;
//   padding: 10px 20px;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
//   width: 100%;
// }

// input[type="submit"]:hover {
//   background-color: #45a049;
// }
