// .company-description {
//     font-size: 12px;
// }

.company-img-row {
  position: relative;
  margin-bottom: 30px;
}

.company-logo-img {
  position: absolute;
  bottom: -30px;
  left: 5%;
}

.company-link-btn {
  list-style: none;
  border: 1px solid #0b8aa7ff;
  border-radius: 15px;
  color: #0b8aa7ff;
  padding: 2px 15px;
  margin-bottom: 6px;
}

.company-left-info {
  h3 {
    font-size: 18px;
  }
}

.company-main-content {
  margin-left: 15px;
}

.company-page-job-card {
  width: 60%;
  h6 {
    color: black;
    font-size: 16px;
  }

  .location {
    color: gray;
    font-size: 13px;
    font-weight: 300;
  }

  .seniority {
    font-size: 14px;
    border-radius: 6px;
    background: #ECFFEE;
    color: #00B112;
    padding: 2px 12px;
    font-weight: 400;
    height: 26px;
  }
}
