// .company-description {
//     font-size: 12px;
// }

.company-img-row {
  position: relative;
  margin-bottom: 30px;
}

.company-logo-img {
  position: absolute;
  bottom: -30px;
  left: 20px;
}

.company-link-btn {
  list-style: none;
  border: 1px solid #0b8aa7ff;
  border-radius: 15px;
  color: #0b8aa7ff;
  padding: 2px 15px;
  margin-bottom: 6px;
}

.company-left-info {
  h3 {
    font-size: 18px;
  }
}

.company-main-content {
  margin-left: 15px;
}
