.forgot-password-div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $body-font;

  .forgot-password-h2 {
    color: $main-color;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    margin-top: 30px !important;
    margin-top: 20px;
  }

  .forgot-password-box {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 65%;
    border-radius: 8px;
    border: 0.877px solid rgba(20, 52, 89, 0.20);
    background: #FFF;
    box-shadow: 0px 2.807px 18.105px -9.123px rgba(0, 0, 0, 0.25), 0px 2.807px 0.14px 0px rgba(158, 158, 158, 0.25);

    .form-inputs {
      width: 100%;
      color: $main-color;

      input::placeholder {
        color: $main-color;
        opacity: 30%;
        font-weight: 450;
        font-size: 14px;
      }
      input, select, textarea {
        color: $main-color;
      }
      input:focus {
        box-shadow: 0 0 3px $main-color;
      }
  }

  .rounded-4 {
    border-radius: 8px !important;
    border: 1px solid rgba(20, 52, 89, 0.20);
    background: #FEFEFE;
  }

  .form-actions {
    color: #FF9433;
    font-size: 17px;
    font-weight: 500;
  }

  a {
    font-weight: 400;
  }
}
}
