// Specific CSS for your home-page
.btn-main {
  align-items: center;
  background-image: linear-gradient(144deg, $main-color, $tertiary-color 50%, $quaternary-color);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 40px;
  font-weight: 700;
  justify-content: center;
  line-height: 1em;
    // max-width: 35%;
  min-width: 80px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  // width: 250px;
}

#punchline {
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
}

.bg-image {
  background-image: white;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.btn-main:active,
.btn-main:active:hover {
  outline: 0;
}

.spacer {
  margin-top: 100px; /* Adjust the value to control the amount of vertical space */
  margin-bottom: 100px; /* Adjust the value to control the amount of vertical space */
}

a {
  color: $main-color;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
