@media screen and (min-width: 642px) {
  .how-works-container{
    display: flex;
    margin: 24px;
    justify-content: center;
    align-items: center;
  }

  .how-it-works-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    margin: 0 10px;
    color: $main-color;

    h2 {
      margin-top: 32px;
      width: 60%;
      font-weight: bold;
    }
    img {
      width: 40vh;
    }
    p {
      margin-bottom: 32px;
      width: 80%;
      font-size: 1.2em;
    }
  }
}

@media screen and (max-width: 641px){

  .how-works-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 24px;
  }

  .how-it-works-column {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    color: $main-color;

    img {
      width: 40%;
    }

    h2 {
      margin: 0 8px;
      font-size: 0.8em;
      font-weight: bold;
    }

    p {
      margin: 0 8px;
      font-size: 0.8em;
      }
  }
}
