.how-works-container{
  display: flex;
  margin: 24px auto;
  width: 100%;
  flex-direction: column;
  font-size: 24px ;
}

.how-it-works-object {
  width: fit-content;
  margin: 0 auto;
  // height: fit-content;
}

.how-works-text{
  font-family: $body-font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #490596;
  width: 500px;
}
