.category-select {
  border-top: 1px solid #e3e6f0;
  padding: 16px 8px;
}

.category-label {
  color: $main-color;
}

.category-select-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-bottom: 0;
}

.category-select-item-label {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}

.category-select-item-checkbox {
  width: 1rem;
  height: 1rem;
  padding-right: 6px;
  margin-right: 12px;
}
