#categories-select {
  border-top: 1px solid #e3e6f0;
  height: 180px;
  width: 250px;
  overflow: scroll;
  padding: 16px 8px;
}

.category-select-item {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding-bottom: 0;
}

.category-select-item-label {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}

.category-select-item-checkbox {
  width: 1em;
  height: 1em;
  padding-right: 6px;
  margin-right: 6px;
}
