@media screen and (max-width: 641px){
  #landing-main {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #landing-left, #landing-right {
    text-align: center;
  }

  .cheddar-3d-icon, .cheddar-outline-circle, .cheddar-logo-txt {
    width: 138px;
  }

  .firm-logo {
    width: 65.6px;
  }

  .tag-line {
    color: #fff;
    font-family: $headers-font;
    font-size: 20px;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: 0em;
  }
}


@media screen and (min-width: 642px){
  #landing-main {
    background-color: $main-color;
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
    align-items: center;
  }
  #landing-left, #landing-right {
    margin: 8px 0;
    padding: 32px;
    text-align: center;
  }

  #landing-right {
    width: 30%;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 0px;
    justify-items: center;
    align-items: center;
    img {
      width: 5em;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }

  .cheddar-logo-txt {
    width: 140px;
    margin-left: 0;
    margin-right: auto;
  }

  .tag-line {
    color: #fff;
    font-family: $headers-font;
    font-size: 36px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0px;
    text-align: center;
    width: 70%;
  }

  #landing-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
  }

  #landing-logo {
    position: relative;
    display: inline-block;

    .cheddar-outline-circle {
      width: 310px;
    }

    .cheddar-3d-icon {
      width: 140px;
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);
    }
  }

  #landing-cto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

    h3 {
      color: $main-color;
      font-family: $headers-font;
      font-size: 32px;
      font-weight: 700;
      line-height: 78px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
}
