@media screen and (max-width: 641px){
  #landing-main {
    background-color: $main-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    overflow: hidden;
  }
  #landing-left, #landing-cto {
    text-align: center;
  }
  #landing-left {
    margin-top: 50px;

    .tag-line {
      color: #fff;
      font-family: $headers-font;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 30px;
      letter-spacing: 0em;
      margin: 1% 5% 8% 5%;
    }
  }
  #landing-logo {
    position: relative;
    display: inline-block;

    .cheddar-outline-circle {
      width: 250px;
      animation: rotateClockwise 10s linear infinite;
    }

    .cheddar-3d-icon {
      width: 140px;
      position: absolute;
      top: 50%;
      left: 52%;
      transform: translate(-50%, -50%);
    }
  }
  .cheddar-3d-icon, .cheddar-outline-circle, .cheddar-logo-txt {
    width: 138px;
  }
  #landing-right {
    height: 22vh;
    overflow: hidden;
    display: flex;

    #logos-main, .logos-duplicate {
      animation: moveInOut 10s linear infinite;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      margin-left: 2px;
      margin-right: 2px;
    }

    .firm-logo {
      width: 65.6px;
      box-shadow: 0px 2.034px 11.951px 0px rgba(0, 0, 0, 0.20);
      border-radius: 15px;
      margin: 4px;
    }
  }
  @keyframes moveInOut {
    from {
      transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

  #mc_embed_shell {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    height: 20vh;

    h2 {
      color: $main-color;
      font-family: $headers-font;
      font-size: 24px;
      font-weight: 700;
      line-height: 78px;
      letter-spacing: 0em;
      text-align: center;
      margin: 0;
    }

    .mc-field-group {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    #mce-EMAIL {
      color: rgba(20, 52, 89, 0.60);
      font-family: $headers-font;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 33.282px;
      border: 0.832px solid rgba(255, 255, 255, 0.20);
      background: rgba(20, 52, 89, 0.20);
      box-shadow: 4.992px 4.992px 14.145px -24.13px rgba(255, 255, 255, 0.85) inset, 23.298px 23.298px 44.931px -31.618px rgba(255, 255, 255, 0.60) inset, -13.313px -13.313px 11.649px -112.328px rgba(0, 0, 0, 0.25) inset, -23.298px -23.298px 44.931px -60.74px rgba(0, 0, 0, 0.24) inset, 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25), 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25) inset;
      width: 75%;
      height: 40px;
    }

    #mc-embedded-subscribe {
      color: rgba(20, 52, 89, 0.60);
      font-family: $headers-font;
      font-size: 3em;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      border-radius: 33.282px;
      border: 0.832px solid rgba(255, 255, 255, 0.20);
      background: rgba(20, 52, 89, 0.20);
      box-shadow: 4.992px 4.992px 14.145px -24.13px rgba(255, 255, 255, 0.85) inset, 23.298px 23.298px 44.931px -31.618px rgba(255, 255, 255, 0.60) inset, -13.313px -13.313px 11.649px -112.328px rgba(0, 0, 0, 0.25) inset, -23.298px -23.298px 44.931px -60.74px rgba(0, 0, 0, 0.24) inset, 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25), 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25) inset;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      padding: 0;
    }
    }
  }


  @media screen and (min-width: 642px){
    #landing-main {
      background-color: $main-color;
      display: flex;
      align-items: center;
      height: 80vh;
      justify-content: center;
      align-items: center;
    }
    #landing-left, #landing-right {
      margin: 8px 0;
      padding: 32px;
      text-align: center;
    }

    #landing-right {
      width: 30%;
      background-color: white;
      border-radius: 20px;

      #logos-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 0px;
        justify-items: center;
        align-items: center;
      }

      img {
        width: 5em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
      }

      .logos-duplicate {
        display: none;
      }
    }

    .cheddar-logo-txt {
      width: 140px;
      margin-left: 0;
      margin-right: auto;
    }

    .tag-line {
      color: #fff;
      font-family: $headers-font;
      font-size: 36px;
      font-weight: 800;
      line-height: 50px;
      letter-spacing: 0px;
      text-align: center;
      width: 70%;
    }

    #landing-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
    }

    #landing-logo {
      position: relative;
      display: inline-block;

      .cheddar-outline-circle {
        width: 310px;
        animation: rotateClockwise 10s linear infinite;
      }

      .cheddar-3d-icon {
        width: 160px;
        position: absolute;
        top: 52%;
        left: 52%;
        transform: translate(-50%, -50%);
      }
    }

    #mc_embed_shell {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 8px;
      height: 20vh;

      h2 {
        color: $main-color;
        font-family: $headers-font;
        font-size: 32px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0em;
        text-align: center;
        margin: 0;
      }

      .mc-field-group {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      #mce-EMAIL {
        color: rgba(20, 52, 89, 0.60);
        font-family: $headers-font;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 33.282px;
        border: 0.832px solid rgba(255, 255, 255, 0.20);
        background: rgba(20, 52, 89, 0.20);
        box-shadow: 4.992px 4.992px 14.145px -24.13px rgba(255, 255, 255, 0.85) inset, 23.298px 23.298px 44.931px -31.618px rgba(255, 255, 255, 0.60) inset, -13.313px -13.313px 11.649px -112.328px rgba(0, 0, 0, 0.25) inset, -23.298px -23.298px 44.931px -60.74px rgba(0, 0, 0, 0.24) inset, 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25), 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25) inset;
        width: 30%;
        height: 40px;
      }

      #mc-embedded-subscribe {
        color: rgba(20, 52, 89, 0.60);
        font-family: $headers-font;
        font-size: 3em;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        border-radius: 33.282px;
        border: 0.832px solid rgba(255, 255, 255, 0.20);
        background: rgba(20, 52, 89, 0.20);
        box-shadow: 4.992px 4.992px 14.145px -24.13px rgba(255, 255, 255, 0.85) inset, 23.298px 23.298px 44.931px -31.618px rgba(255, 255, 255, 0.60) inset, -13.313px -13.313px 11.649px -112.328px rgba(0, 0, 0, 0.25) inset, -23.298px -23.298px 44.931px -60.74px rgba(0, 0, 0, 0.24) inset, 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25), 0px 3.328px 3.328px 0px rgba(0, 0, 0, 0.25) inset;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        padding: 0;
      }
  }
}


@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
