---
http_interactions:
- request:
    method: get
    uri: https://premise.bamboohr.com/careers/list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"totalCount":12},"result":[{"id":"42","jobOpeningName":"Business
        Development Director, Public Sector","departmentId":"19016","departmentLabel":"40-000
        - Sales","employmentStatusLabel":"Full-Time","location":{"city":"Washington","state":"District
        of Columbia"},"atsLocation":{"country":null,"state":null,"province":null,"city":null},"isRemote":null,"locationType":"2"},{"id":"45","jobOpeningName":"Lead
        Product Manager,  CPG & Retail Execution","departmentId":"19029","departmentLabel":"30-000
        - Product","employmentStatusLabel":"Full-Time","location":{"city":null,"state":null},"atsLocation":{"country":null,"state":null,"province":null,"city":null},"isRemote":null,"locationType":"1"},{"id":"46","jobOpeningName":"Sales
        Development Representative","departmentId":"19016","departmentLabel":"40-000
        - Sales","employmentStatusLabel":[...]
[...]
- request:
    method: get
    uri: https://autocomplete.clearbit.com/v1/companies/suggest?query=Premise
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Premise Health","domain":"premisehealth.com","logo":"https://logo.clearbit.com/premisehealth.com"},{"name":"Premise","domain":"premise.com","logo":"https://logo.clearbit.com/premise.com"},{"name":"Premise","domain":"premiseco.com","logo":"https://logo.clearbit.com/premiseco.com"},{"name":"PREMISE","domain":"premise.tv","logo":"https://logo.clearbit.com/premise.tv"},{"name":"PremiSec","domain":"premisec.se","logo":"https://logo.clearbit.com/premisec.se"}]'
  recorded_at: Wed, 01 May 2024 14:15:04 GMT
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/autocompletes?query=Premise&user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1714572904780"
      X-Cb-Engine:
      - autocomplete:algolia
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '15'
      X-Cb-Request-Took:
      - '43'
    body:
      encoding: UTF-8
      string: '{"count":1609,"entities":[{"facet_ids":["contact","siftery","ipqwery","privco","apptopia","semrush","company","rank","builtwith","bombora","ai_insight"],"identifier":{"uuid":"4f680a26-074b-b8fa-7fa4-e5cfb5f0c30d","value":"Premise
        Data","image_id":"jwzjzghwlokbkqugqjgs","permalink":"premise","entity_def_id":"organization"},"short_description":"Premise
        is a data and analytics platform powered by a global network of on-the-ground
        contributors, data science, and machine learning. "},{"facet_ids":["contact","siftery","aberdeen","company","rank","builtwith","bombora"],"identifier":{"uuid":"0dc67892-3bf4-458b-88bd-6fa0ed027fa7","value":"Premise","image_id":"nqukjb1x3ficnuvq3ltx","permalink":"premise-7fa7","entity_def_id":"organization"},"short_description":"Premise
        offers wireless communication, solar energy, and el[...]
- request:
    method: get
    uri: https://premise.bamboohr.com/careers/42/detail
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{},"result":{"jobOpening":{"jobOpeningShareUrl":"https:\/\/premise.bamboohr.com\/careers\/42","jobOpeningName":"Business
        Development Director, Public Sector","jobOpeningStatus":"Open","jobCategoryId":null,"departmentId":"19016","departmentLabel":"40-000
        - Sales","employmentStatusLabel":"Full-Time","location":{"city":"Washington","state":"District
        of Columbia","postalCode":"20037","addressCountry":"United States"},"atsLocation":{"country":null,"countryId":null,"state":null,"city":null},"description":"<p><span
        style=\"font-weight: bold;\"><span style=\"font-size: 13px; font-family: Arial,
        sans-serif;\">Premise <\/span><\/span><span style=\"font-size: 13px; font-family:
        Arial, sans-serif;\">is growing! We\u2019re hiring a Business Development
        Manager to help us expand our client base. Premise is unlike any other company
        in the Federal Civilian industry - a venture-funded technology firm seeking
        to disrupt remote data collection and analytics. We\u2019re looking for an
        ambitious risk-taker who loves to be challenged, relishes the idea of helping
        build a different kind solution, and believes in the power of data to improve
        outcomes.\u00a0<\/span><\/p>\n<p>\u00a0<\/p>\n<p><span style=\"font-weight:
        bold;\"><span style=\"font-size: 13px; font-family: Arial, sans-serif;\">The
        Role. <\/span><\/span><span style=\"font-size: 13px; font-family: Arial, sans-serif;\">You
        will be responsible for identifying opportunities within federal civilian
        agencies and prime contractors\/service providers of the US Government as
        well as communicating and coordinating business opportunities with key stakeholders
        within Premise.\u00a0 You will use your extensive background in sales to define
        capture strategies for U.S. Federal customers\u00a0 in order to achieve successful
        program awards and product sales. Duties will include and are not limited
        to:<\/span><\/p>\n<ul>\n<li><span style=\"font-size: 13px; font-family: Arial,
        sans-serif;\">Manage pursuit and capture of new program or product sales through
        extensive interfacing with government agencies in order to achieve sales goals.<\/span><\/li>\n<li><span
        style=\"font-size: 13px; font-family: Arial, sans-serif;\">Develop new business
        via phone, email and social media to educate the prospect, introduce our solution,
        and identify appropriate budgetary holders and end users within the Federal
        space.<\/span><\/li>\n<li><span style=\"font-size: 13px; font-family: Arial,
        sans-serif;\">Follow up on inbound marketing leads and outbound prospects
        through a strategic touch plan to generate additional interest in Premise
        Data and qualify for a potential opportunity<\/span><\/li>\n<li><span style=\"font-size:
        13px; font-family: Arial, sans-serif;\">Conduct research to identify potential
        opportunities and understand challenges our clients and prospects today.<\/span><\/li>\n<li><span
        style=\"font-size: 13px; font-family: Arial, sans-serif;\">Identify key buying
        influencers within these prospects to determine budget and timeline.<\/span><\/li>\n<li><span
        style=\"font-size: 13px; font-family: Arial, sans-serif;\">Work with the key
        sales drivers to develop and grow the sales pipeline to consistently meet
        quarterly revenue goals<\/span><\/li>\n<li><span style=\"font-size: 13px;
        font-family: Arial, sans-serif;\">Use Salesforce CRM to track all sales activities
        properly and manage contact\/lead data for accuracy<\/span><\/li>\n<li><span
        style=\"font-size: 13px; font-family: Arial, sans-serif;\">Experience owning
        and executing sales opportunities, setting sales strategy, tactics, proposals,
        and negotiations for new and disruptive product solutions as well as coordinating
        qualified new business capture and sales with government agencies.\u00a0<\[...]
