---
http_interactions:
- request:
    method: post
    uri: https://jobs.ashbyhq.com/api/non-user-graphql?op=ApiOrganizationFromHostedJobsPageName
    body:
      encoding: UTF-8
      string: '{"query":"query ApiOrganizationFromHostedJobsPageName($organizationHostedJobsPageName:
        String!) {  organization: organizationFromHostedJobsPageName(    organizationHostedJobsPageName:
        $organizationHostedJobsPageName  ) {    ...OrganizationParts    __typename  }}fragment
        OrganizationParts on Organization {  name  publicWebsite  customJobsPageUrl  hostedJobsPageSlug  allowJobPostIndexing  theme
        {    colors    showJobFilters    showTeams    showAutofillApplicationsBox    logoWordmarkImageUrl    logoSquareImageUrl    applicationSubmittedSuccessMessage    jobBoardTopDescriptionHtml    jobBoardBottomDescriptionHtml    __typename  }  appConfirmationTrackingPixelHtml  recruitingPrivacyPolicyUrl  activeFeatureFlags  timezone  __typename
        }","variables":{"organizationHostedJobsPageName":"lightdash"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ashby-Request-Id:
      - 01HWT83Q4R8V89DQVKC1NS3KMV
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"organization":{"name":"Lightdash","publicWebsite":"https://www.lightdash.com/","customJobsPageUrl":null,"hostedJobsPageSlug":"Lightdash","allowJobPostIndexing":true,"theme":{"colors":{"version":"1","colorPrimary600":"#7262FF","colorPrimary900":"#7262FF"},"showJobFilters":false,"showTeams":false,"showAutofillApplicationsBox":true,"logoWordmarkImageUrl":"https://app.ashbyhq.com/api/images/org-theme-wordmark/118a5d75-b907-4616-ade7-b67eaa6b5c16/314e7c4e-d0d9-494f-b7cd-7d008d80f41e.png","logoSquareImageUrl":"https://app.ashbyhq.com/api/images/org-theme-logo/118a5d75-b907-4616-ade7-b67eaa6b5c16/0e2997f7-6255-4c9e-9ea4-0199b51c80ef.png","applicationSubmittedSuccessMessage":null,"jobBoardTopDescriptionHtml":null,"jobBoardBottomDescriptionHtml":null,"__typename":"Theme"},"appConfirmationTrackingPixelHtml":null,"recruitingPrivacyPolicyUrl":null,"activeFeatureFlags":["AnonymousCandidateExperience","JobPostingApplicationDeadlines","SchedulingNewAvailabileTimesCalculation","ThirdPartyJobBoardListingControl","UnsubscribeLinks","VirusScanFiles","VirusScanShowResults"],"timezone":"Europe/London","__typename":"Organization"}}}

        '
  recorded_at: Wed, 01 May 2024 14:14:36 GMT
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/autocompletes?query=Lightdash&user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1714572877672"
      X-Cb-Engine:
      - autocomplete:algolia
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '20'
      X-Cb-Request-Took:
      - '50'
    body:
      encoding: UTF-8
      string: '{"count":70,"entities":[{"facet_ids":["contact","aberdeen","semrush","company","rank","builtwith"],"identifier":{"uuid":"301bce04-1610-4369-a9db-29de9623e65f","value":"Lightdash","image_id":"citkfzfr7esouu3essw6","permalink":"hubble-e65f","entity_def_id":"organization"},"short_description":"Lightdash
        turns a dbt project into a full-stack BI platform."},{"facet_ids":["company","rank"],"identifier":{"uuid":"f61375ff-0cfb-46ab-967f-40dcb6b759bc","value":"LightCash","permalink":"lightcash","entity_def_id":"organization"},"short_description":"LightCash
        is a global blockchain-integrated payment platform."},{"facet_ids":["contact","ipqwery","aberdeen","apptopia","semrush","company","rank","builtwith","bombora"],"identifier":{"uuid":"47e286e5-0c19-486c-ab4d-2a6cecbb9025","[...]
