---
http_interactions:
- request:
    method: get
    uri: https://autocomplete.clearbit.com/v1/companies/suggest?query=Lightdash
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"Lightdash","domain":"lightdash.com","logo":"https://logo.clearbit.com/lightdash.com"}]'
  recorded_at: Tue, 30 Apr 2024 14:53:45 GMT
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/autocompletes?query=Lightdash&user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1714488826374"
      X-Cb-Engine:
      - autocomplete:algolia
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '18'
      X-Cb-Request-Took:
      - '46'
    body:
      encoding: UTF-8
      string: '{"count":70,"entities":[{"facet_ids":["contact","aberdeen","semrush","company","rank","builtwith"],"identifier":{"uuid":"301bce04-1610-4369-a9db-29de9623e65f","value":"Lightdash","image_id":"citkfzfr7esouu3essw6","permalink":"hubble-e65f","entity_def_id":"organization"},"short_description":"Lightdash
        turns a dbt project into a full-stack BI platform."},{"facet_ids":["company","rank"],"identifier":{"uuid":"f61375ff-0cfb-46ab-967f-40dcb6b759bc","value":"LightCash","permalink":"lightcash","entity_def_id":"organization"},"short_description":"LightCash
        is a global blockchain-integrated payment platform."},{"facet_ids":["contact","ipqwery","aberdeen","apptopia","semrush","company","rank","builtwith","bombora"],"identifier":{"uuid":"47e286e5-0c19-486c-ab4d-2a6cecbb9025","[...]
