---
http_interactions:
- request:
    method: get
    uri: https://api.ashbyhq.com/posting-api/job-board/zzzzz?includeCompensation=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Ashby-Request-Id:
      - 01HXHG6RWGC2CMG1F5KQXWRJKS
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Fri, 10 May 2024 14:58:35 GMT
- request:
    method: post
    uri: https://jobs.ashbyhq.com/api/non-user-graphql?op=ApiOrganizationFromHostedJobsPageName
    body:
      encoding: UTF-8
      string: '{"query":"query ApiOrganizationFromHostedJobsPageName($organizationHostedJobsPageName:
        String!) {  organization: organizationFromHostedJobsPageName(    organizationHostedJobsPageName:
        $organizationHostedJobsPageName  ) {    ...OrganizationParts    __typename  }}fragment
        OrganizationParts on Organization {  name  publicWebsite  customJobsPageUrl  hostedJobsPageSlug  allowJobPostIndexing  theme
        {    colors    showJobFilters    showTeams    showAutofillApplicationsBox    logoWordmarkImageUrl    logoSquareImageUrl    applicationSubmittedSuccessMessage    jobBoardTopDescriptionHtml    jobBoardBottomDescriptionHtml    __typename  }  appConfirmationTrackingPixelHtml  recruitingPrivacyPolicyUrl  activeFeatureFlags  timezone  __typename
        }","variables":{"organizationHostedJobsPageName":"zzzzz"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ashby-Request-Id:
      - 01HXHG6S2RW82QHF1K4RCSXXHE
    body:
      encoding: UTF-8
      string: '{"data":{"organization":null}}

        '
  recorded_at: Fri, 10 May 2024 14:58:35 GMT
- request:
    method: get
    uri: https://autocomplete.clearbit.com/v1/companies/suggest?query=Zzzzz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"zzzzz","domain":"greenbilt.in","logo":"https://logo.clearbit.com/greenbilt.in"},{"name":"Dan.com","domain":"zzzzz.xyz","logo":"https://logo.clearbit.com/zzzzz.xyz"},{"name":"Tumblr","domain":"zzzzzest.com","logo":"https://logo.clearbit.com/zzzzzest.com"},{"name":"zzzzzsh","domain":"zzzzzsh.com","logo":"https://logo.clearbit.com/zzzzzsh.com"},{"name":"ZZZzzz
        Soundsystem","domain":"zzzzzz.fr","logo":"https://logo.clearbit.com/zzzzzz.fr"}]'
  recorded_at: Fri, 10 May 2024 14:58:35 GMT
- request:
    method: get
    uri: https://api.crunchbase.com/api/v4/autocompletes?query=Zzzzz&user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1715353118827"
      X-Cb-Engine:
      - autocomplete:algolia
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Took:
      - '7'
      X-Cb-Request-Took:
      - '35'
    body:
      encoding: UTF-8
      string: '{"count":6,"entities":[{"facet_ids":["rank","builtwith","company"],"identifier":{"uuid":"1a4cefa9-7903-48e9-a0e0-9602f8070f52","value":"Zzzzz
        Mattress","image_id":"5d882647109e89b7e4e1","permalink":"zzzzz-mattress","entity_def_id":"organization"},"short_description":"Zzzzz
        Mattress manufactures and markets mattresses."},{"facet_ids":["company","rank","builtwith"],"identifier":{"uuid":"a866317b-143f-407a-9a34-be381cbf13af","value":"ZZZZZZZZZZZZZZZZZZZZZZZZZZZ","image_id":"omjyjlnpt5wipl0y0zkw","permalink":"spotless-mattress-cleaning","entity_def_id":"organization"},"short_description":"Australia
        | Square images work best | Crop your image before you upload | Image ubestuare
        images work best |"},{"facet_ids":["rank","builtwith","compan[...]
