<%= provide(:title, 'Application Process - Payload viewer') %>
<article class="flex w-2/3 mx-auto h-full flex-col pb-5 pt-8">
  <div class="grid max-w-8xl sm:grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <%= render '/job_applications/step_indicators' %>
    <div class="grid gap-x-6 gap-y-8 sm:max-w-6xl sm:grid-cols-6 md:col-span-2">
      <% @application_process.job_applications.each do |job_application| %>
        <div class="col-span-full overflow-hidden rounded-2xl shadow-md">
          <div class="not-prose">
            <div class="flex min-h-[calc(theme(spacing.12)+1px)] flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 dark:border-zinc-800 dark:bg-transparent px-4">
              <h3 class="mr-auto pt-3 text-xs font-semibold text-white"><%= payload_title(job_application) %></h3>
            </div>
            <div class="group bg-zinc-800 dark:bg-white/2.5">
              <div class="relative">
                <%= render 'json_output', transformed_data: transformed_data(job_application) %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>