<div class="not-prose mt-4 grid grid-cols-1 gap-8 border-t border-zinc-900/5 pt-10 sm:grid-cols-2 xl:grid-cols-4 dark:border-white/5">
  <% resources.each do |resource| %>
    <%= render 'shared/resources/resource', resource: %>
  <% end %>
</div>