<div id="autocomplete" class="hidden"></div>
<div class="fixed inset-x-0 top-0 z-50 lg:z-30 flex h-14 items-center justify-between gap-12 px-4 transition sm:px-6 lg:px-8 backdrop-blur-sm dark:backdrop-blur bg-white/[var(--bg-opacity-light)] dark:bg-zinc-900/[var(--bg-opacity-dark)]" style="--bg-opacity-light: 0.5; --bg-opacity-dark: 0.2;" data-controller="search">
  <%= render 'shared/template/search_dialog' %>
  <%= render 'shared/template/lg_content_header' %>
  <%= render 'shared/template/sm_content_header' %>
</div>
