<div class="hidden lg:hidden fixed bottom-0 z-50 left-0 top-14 w-full overflow-y-auto bg-white px-4 pb-4 pt-6 shadow-lg shadow-zinc-900/10 ring-1 ring-zinc-900/7.5 min-[416px]:max-w-sm sm:px-6 sm:pb-10 dark:bg-zinc-900 dark:ring-zinc-800 translate-x-0" data-mobile-nav-target="content">
  <div class="relative z-10">
    <%= link_to "Clear Filters", opportunities_path, class: "text-sm font-semibold leading-7 text-indigo-600 float-end" %>
  </div>
  <ul role="list">
    <% @facets.group_by(&:attribute).each do |attribute, facets| %>
      <li class="md:hidden">
        <span class="block py-1 text-sm text-zinc-600 transition hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-white">
          <%= facets.first.public_attribute %>
        </span>
      </li>
      <li class='relative mt-6'>
        <h2 layout="position" class="text-xs font-semibold text-zinc-900 dark:text-white">
          <%= facets.first.public_attribute %>
        </h2>
        <div class="relative mt-3 pl-2">
          <div layout class="absolute inset-y-0 left-2 bg-zinc-900/10 dark:bg-white/5"></div>
          <ul role="list" class="border-l border-transparent" >
            <% facets.each do |facet| %>
            <%= render "shared/template/layout/navigation_#{ facet.type }_item", facet: %>
            <% end %>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>