<div class="contents lg:pointer-events-auto lg:block lg:w-72 lg:overflow-y-auto lg:border-r lg:border-zinc-900/10 lg:px-6 lg:pb-8 lg:pt-14 xl:w-80 lg:dark:border-white/10">
  <%= render 'shared/template/layout/navigation' if @opportunities %>
  <%= render 'shared/template/layout/mobile_navigation' if @opportunities %>
</div>
