<div class="d-flex align-items-center justify-content-center me-3">
  <% if user_signed_in? %>
    <% if @saved_job_ids.include?(job.id) %>
      <%= link_to saved_job_path(job.saved_job_ids), data: {turbo_method: :delete} do %>
        <i class="fa-solid fa-bookmark pe-2"></i>
      <% end %>
    <% else %>
      <%= link_to job_saved_jobs_path(job), data: {turbo_method: :post} do %>
        <i class="fa-regular fa-bookmark pe-2"></i>
      <% end %>
    <% end %>
    <% include_checkboxes ||= false %>
    <% if include_checkboxes %>
      <div class="ms-3">
        <%= check_box_tag "job_ids[]", job.id, onclick: "document.getElementById('apply_button').disabled = false" %>
      </div>
    <% end %>
  <% end %>

  <%= link_to job.posting_url, target: "_blank" do %>
    <i class="fa-solid fa-arrow-up-right-from-square"></i>
  <% end %>
</div>
