<div class="col-sm-3" data-job-index-toggle-target="leftSection">

  <div class = "d-flex">
    <p class="pb-0"><%= @jobs.count %> jobs • <%= link_to 'Clear filters', jobs_path %></p>
  </div>

  <% section_titles = ['Job Posted', 'Seniority', 'Location', 'Job Roles', 'Employment Type', 'Company'] %>
  <% icons = ["fa-solid fa-calendar-days", "fa-solid fa-stairs", "fa-solid fa-earth-americas", "fa-solid fa-person-chalkboard", "fa-solid fa-id-card", "fa-solid fa-building-user"] %>

  <% @resources.each_with_index do |(resource, data), index| %>
    <%= render partial: 'category_sidebar_section', locals: {title: section_titles[index], resource: resource, resources: data, icon: icons[index]} %>
  <% end %>

</div>
