<div class="d-flex flex-column align-items-center justify-content-center text-sm">
  <div class="apply-rating">
    <%# To-do: Create a difficulty column for jobs table and transfer this logic to JobCreator; eventually GetFormFieldsJob will distinguish between input and text fields (for longer responses), which will help with accurate classification %>
    <% if job.requirement.no_of_qs < 8 && !job.requirement.cover_letter %>
      <% apply_rating = 'no data' %>
    <% elsif job.requirement.no_of_qs > 15 %>
      <% apply_rating = 'hard' %>
    <% else %>
      <% apply_rating = 'medium' %>
    <% end %>
    <%= apply_rating %>
  </div>
</div>
