<div>
  <turbo-frame id="job-cards-frame">
    <%= render partial: 'job_card', collection: @jobs, as: :job %>
  </turbo-frame>

  <div class="pt-1 d-flex flex-column align-items-end">
    <div><%= page_entries_info @jobs %></div>
    <div><%= paginate @jobs %></div>
  </div>

</div>
