<div>
  <turbo-frame id="job-cards-frame">
    <%= render partial: 'job_card', collection: @jobs, as: :job %>
  </turbo-frame>

  <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @jobs %>
    </div>

    <%= will_paginate @jobs, container: false %>

  </div>
</div>
