<div class="row mb-3">
  <div class="col-12">
    <div class="card job-card placeholder-glow" data-controller="placeholder" data-placeholder-target="placeholder">
      <div class="card-body">
        <div class="row text-center">
          <div class="col card-logo placeholder"><span class="placeholder col-12"></span></div>
          <div class="col-2 role pe-2 placeholder"><span class="placeholder col-12"></span></div>
          <div class="col-2 d-none job-description-small placeholder"><span class="placeholder col-12"></span></div>
          <div class="col salaryBudget placeholder"><span class="placeholder col-12"></span></div>
          <div class="col placeholder"><span class="placeholder col-12"></span></div>
          <div class="col placeholder"><span class="placeholder col-12"></span></div>
          <div class="col d-none placeholder"><span class="placeholder col-12"></span></div>
          <div class="col placeholder"><span class="placeholder col-12"></span></div>
          <div class="col placeholder"><span class="placeholder col-12"></span></div>
          <div class="col selectBox placeholder"><span class="placeholder col-12"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
