<div id="jobs-search-bar">
  <%= form_tag jobs_path, method: :get, class: 'd-flex' do %>
    <%= text_field_tag :query,
        params[:query],
        class: 'form-control',
        style: 'background-color: #FFFFFF; font-style: italic;',
        placeholder: 'Search for any job, company or role... ', id: 'search-jobs' %>

    <%= link_to jobs_path, class: 'clear-search-icon' do %>
      <i class="fa-solid fa-x"></i>
    <% end %>

    <%= submit_tag 'Search', id: 'search-button' %>
  <% end %>
</div>
