<div class="container vh-180 d-flex align-items-center justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center w-50 border shadow-sm rounded-4 p-2 m-4">
    <h2 class="text-center pb-2">Add job to Cheddar</h2>
    <div class="col-md-10 p-0 m-0">
      <div class="form-box">
        <%= simple_form_for @job do |f| %>
          <%= f.input :job_posting_url %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
