<% title "Find Jobs" %>
<% description "Discover and apply to thousands of jobs with Cheddar's innovative one-click application process. Add jobs that interest you to your basket and apply to all of them at once, without ever need to leave our site." %>

<div class="container" data-controller="select-by-job-type">

  <div class="d-flex justify-content-center align-items-center pb-4">
    <%= render 'search' %>
  </div>

  <div class="row">
    <%= render 'category_sidebar' %>
    <%= render 'job_cards_container' %>
  </div>
</div>
