<div class="container" data-controller="select-by-job-type">

  <div class="d-flex justify-content-center align-items-center pb-4">
    <%= render 'search' %>
  </div>

  <div class="row">
    <%= render 'filter_category_sidebar' %>
    <%= render 'job_cards_container' %>
  </div>
</div>
