<% title "Find Jobs" %>
<% description "Discover and apply to thousands of jobs with Cheddar's one-click application process." %>

<div class="container" data-controller="select-by-job-type">
  <div class="row d-flex justify-content-center align-items-center pb-4">
    <div class="col-12 col-md-8">
      <%= render 'search' %>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-9 order-md-2">
      <%= render 'job_cards_container' %>
    </div>
    <div class="col-12 col-md-3 order-md-1 mb-4 mb-md-0">
      <%= render 'category_sidebar' %>
    </div>
  </div>
</div>
