<div data-all-application-forms-target="overlay" class="modal-overlay d-none"></div>
<div data-all-application-forms-target="modal" class="spinner-border d-none modal" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<%# TODO: Add white background with loading icon for each job application, cycle through applications as they complete %>
