<%= provide(:title, 'New job applications') %>
<article class="flex w-2/3 mx-auto h-full flex-col pb-5 pt-8">
  <div class="grid max-w-8xl sm:grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
    <%= render 'step_indicators' %>
    <%= render '/devise/registrations/frequent_asked_information_form', resource: current_user, resource_name: :user %>
  </div>
</article>

<%# TODO: Add d-none to subsidiary application forms %>
<%# TODO: Add company name to each job application form %>
<%# TODO: Update surfacing of form options to check correct - validate against actual forms %>

<%# TODO: Add to core details so additional requirements appears less %>
<%# TODO: Add mark done/complete to each form %>
<%# TODO: Remove pill formatting and update formatting of form %>

<%# TODO: Truncate/reword long-worded fields %>
<%# TODO: Remove additional fields which don't require user input %>
<%# TODO: Make CV field clickable to review CV %>

<%# TODO: Add primary key tagging to reconcile form inputs %>

<%# TODO: Add ability that editing one form field edits others %>
<%# TODO: Add ability to upload CV directly in page %>
<%# TODO: Add ability to update database variables from form inputs %>

<%# TODO: Make forms a carousel rather than scroll %>

<%# TODO: Highlight which company you're on depending on position in the page %>
<%# TODO: Highlight which applications you've confirmed before sending %>
