<form action="#">
  <div class="input-group mw-md mb-3 bg-white">
    <input type="text" class="rounded-start-pill form-control bg-white" placeholder="Type your email" aria-label="Email">
    <button class="input-group-text rounded-end-pill bg-main text-white">Subscribe</button>
  </div>
</form>
