<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
        <div>
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">Get in touch</h2>
          <p class="mt-4 leading-7 text-gray-600">We're here to help with any product queries</p>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
          <div class="rounded-2xl bg-gray-50 p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Get support</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd><a class="font-semibold text-indigo-600" href="mailto:charlie@cheddar.jobs">charlie@cheddar.jobs</a></dd>
              </div>
              <div class="mt-1">
                <dt class="sr-only">Phone number</dt>
                <dd>+44 787 494 3523</dd>
              </div>
            </dl>
          </div>
          <div class="rounded-2xl bg-gray-50 p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Give feedback</h3>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd><a class="font-semibold text-indigo-600" href="mailto:charlie@cheddar.jobs">charlie@cheddar.jobs</a></dd>
              </div>
              <div class="mt-1">
                <dt class="sr-only">Phone number</dt>
                <dd>+44 787 494 3523</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 pt-16 lg:grid-cols-3">
        <div>
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">Locations</h2>
          <p class="mt-4 leading-7 text-gray-600">Started in the UK. Operating globally</p>
        </div>
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8">
          <div class="rounded-2xl bg-gray-50 p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">London</h3>
            <address class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">
              <p>71-75 Shelton St</p>
              <p>London WC2H 9JQ</p>
            </address>
          </div>
          <div class="rounded-2xl bg-gray-50 p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">New York</h3>
            <address class="mt-3 space-y-1 text-sm not-italic leading-6 text-gray-600">
              <p>315 Madison Ave Suite 2000</p>
              <p>New York, NY 10017</p>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
