<div class="footer">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column align-items-start justify-content-center">
        <div class="footer-links">
          <a href="https://github.com/Ches-ctrl/Cheddar"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div class="page-links d-flex flex-column align-items-end justify-content-center">
        <div>
          <%= link_to "How It Works", how_it_works_path %>
          <a href="/about">About</a>
          <a href="/faqs">FAQs</a>
          <a href="/d&i">D&I</a>
          <a href="/contact">Contact</a>
        </div>
        <div>
          <a href="/careers">Careers</a>
          <a href="/business">For Business</a>
          <a href="/ts&cs">Terms of Use</a>
          <a href="/privacy">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%# TODO: Change this to vertical columns on RHS for better alignnment %>
