<div class="footer">
  <section class="">
    <div class="d-flex justify-content-start  align-items-center">
      <div class="px-2 ">
        <p class="">Created By</p>
      </div>
      <div class="px-2 d-flex">
        <a href="https://github.com/Ches-ctrl" target="_blank" rel="noopener noreferrer">
          <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
            <img src="https://avatars.githubusercontent.com/u/65985457?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
          </div>
        </a>
        <p>Charlie</p>
      </div>
      <div class="px-2 d-flex">
        <a href="https://github.com/obreil54" target="_blank" rel="noopener noreferrer">
          <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
            <img src="https://avatars.githubusercontent.com/u/89271092?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
          </div>
        </a>
        <p> Ilya</p>
      </div>
      <div class="px-2 d-flex">
        <a href="https://github.com/Direncan89" target="_blank" rel="noopener noreferrer">
          <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
            <img src="https://avatars.githubusercontent.com/u/120759679?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
          </div>
        </a>
        <p class=>Direncan</p>
      </div>
      <div class="px-2 d-flex">
        <a href="https://github.com/Debaerecharlotte" target="_blank" rel="noopener noreferrer">
          <div class="rounded-circle overflow-hidden d-inline-block" style="width: 25px; height: 25px; background-color: #fff; margin-right: 3px;">
            <img src="https://avatars.githubusercontent.com/u/128391812?v=4" class="w-100 h-100 rounded-circle" style="object-fit: cover;">
          </div>
        </a>
        <p class=>Charlotte</p>
      </div>
    </div>
  </section>
  <div class="page-links d-flex flex-column align-items-end">
    <div>
      <%= link_to "How It Works", how_it_works_path %>
      <a href="/about">About</a>
      <a href="/about">Careers</a>
      <a href="/faqs">FAQs</a>
      <a href="#">Contact</a>
      <a href="#">Terms of Use</a>
      <a href="#">Privacy Policy</a>
    </div>
    <%# <div>
      <a href="#">D&I</a>
      <a href="#">Hiring</a>
      <a href="#">Careers</a>
      <a href="#">D&I</a>
    </div> %>
  </div>
</div>
