<div class="footer">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column align-items-start justify-content-start">
        <div>
          A <%= link_to "Net Zero from Day Zero", "/#" %> company
        </div>
        <div class="footer-links">
          <a href="https://github.com/Ches-ctrl/Cheddar"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
      <div>
        <div>For Applicants</div>
        <%= link_to "How It Works", page_path("how_it_works") %>
      </div>
      <div>
        <div>For Employers</div>
        <a href="/business">Cheddar For Business</a>
      </div>
      <div class="page-links d-flex">
        <div class="d-flex flex-column me-4">
          <a href="/about">About</a>
          <a href="/faqs">FAQs</a>
          <a href="/d&i">D&I</a>
          <a href="/careers">Careers</a>
        </div>
        <div class="d-flex flex-column">
          <a href="/contact">Contact</a>
          <a href="/ts&cs">Terms</a>
          <a href="/privacy">Privacy</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%# TODO: Change this to vertical columns on RHS for better alignnment %>
