<div class="footer mt-4">
  <div class="container py-4">
    <div class="row d-flex justify-content-between">
      <div class="col-12 col-lg-5 mb-4 mb-lg-0">
        <h5 class="mb-2">Subscribe</h5>
        <p class="text-secondary mw-xs mb-3">Get the latest roles in your inbox</p>
        <form action="#">
          <div class="input-group mw-md mb-3 bg-white">
            <input type="text" class="rounded-start-pill form-control bg-white" placeholder="Type your email" aria-label="Email">
            <button class="input-group-text rounded-end-pill bg-main text-white">Subscribe</button>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-7 d-flex flex-column flex-lg-row justify-content-lg-end">
        <div class="d-flex flex-column me-lg-4 mb-4 mb-lg-0 pe-4">
          <h6 class="mb-3">Resources</h6>
          <a href="/how_it_works" class="mb-1 text-decoration-none text-secondary">How It Works</a>
          <a href="/about" class="mb-1 text-decoration-none text-secondary">About</a>
        </div>
        <div class="d-flex flex-column">
          <h6 class="mb-3">Company</h6>
          <a href="/contact" class="mb-1 text-decoration-none text-secondary">Contact</a>
          <a href="/terms" class="mb-1 text-decoration-none text-secondary">Terms</a>
          <a href="/privacy" class="mb-1 text-decoration-none text-secondary">Privacy</a>
        </div>
      </div>
    </div>

    <div class="row pt-2 mt-4 border-top">
      <div class="col-12 col-md-6 text-center text-md-start mb-3 mb-md-0">
        <p class="fs-9 text-secondary mb-0">&copy; 2024 Cheddar. All Rights Reserved</p>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end">
        <a href="https://www.linkedin.com/company/cheddarjobs", target="_blank" class="text-secondary me-3"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/Ches-ctrl/Cheddar", target="_blank" class="text-secondary"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
