<div id="about-page">
  <%= image_tag "cheddar_logo_text_blue.png", alt: "Cheddar Text Logo", id: "about-text-logo" %>
  <%= image_tag "cheddar-3d-icon.png", alt: "Cheddar 3D Icon", id: "about-logo" %>
  <h1>The all-in-one job application platform for grads</h1>
  <h3>Navigating the labyrinth of job applications, graduates often find themselves drowning in a sea of platforms and forms. Cheddar aims to alleviate these burdens by streamlining the application process.</h3>
  <h3>By integrating all job postings into a single platform and securely storing applicant data, Cheddar makes job hunting a seamless experience. With the initial focus on the UK graduate market, which comprises approximately 1 million individuals annually, Cheddar empowers graduates to efficiently discover, review, and apply to multiple positions—all in one place.</h3>
  <h3>Our goal is simple: to remove unnecessary steps from the application process, granting applicants valuable time without compromising application quality. Drawing inspiration from e-commerce platforms like Amazon, Cheddar operates as a one-stop shop for job seekers, allowing them to select positions like products and complete applications in one transaction.</h3>
  <h3>Think of it as a common app for jobs, where Cheddar saves employment data and interfaces directly with company websites, enabling students to batch apply without sacrificing attention to detail. By enhancing the applicant experience tenfold, Cheddar not only serves individuals but also offers an unparalleled proposition for companies, positioning itself as the ultimate job marketplace.</h3>
  <h1>Team</h1>
  <div class="about-team-row">
    <div class="about-team-card">
      <div id="charlie-avatar">
        <div class="team-icons">
          <a href="https://www.linkedin.com/in/charliecheesman/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/Ches-ctrl" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://ches-ctrl.github.io/" target="_blank"><i class="fa-solid fa-briefcase"></i></a>
        </div>
      </div>
      <h3>Charlie Cheesman</h3>
    </div>
    <div class="about-team-card">
      <div id="ilya-avatar">
        <div class="team-icons">
          <a href="https://www.linkedin.com/in/ilya-obretetskiy-b5010b1b5/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/obreil54" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://ilyaobretetskiy.com/" target="_blank"><i class="fa-solid fa-briefcase"></i></a>
        </div>
      </div>
      <h3>Ilya Obretetskiy</h3>
    </div>
    <div class="about-team-card">
      <div id="dan-avatar">
        <div class="team-icons">
          <a href="https://www.linkedin.com/in/d-sussman/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/daniel-sussman" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://daniel-sussman.github.io/profile/" target="_blank"><i class="fa-solid fa-briefcase"></i></a>
        </div>
      </div>
      <h3>Daniel Sussman</h3>
    </div>
  </div>
  <div class="about-team-row">
    <div class="about-team-card">
      <div id="alejandro-avatar">
        <div class="team-icons">
          <a href="https://www.linkedin.com/in/alejndrosanz/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/Alejndrosanz" target="_blank"><i class="fa-brands fa-github"></i></a>
          <a href="https://alejndrosanz.netlify.app/" target="_blank"><i class="fa-solid fa-briefcase"></i></a>
        </div>
      </div>
      <h3>Alejandro Sanz Rodriguez</h3>
    </div>
    <div class="about-team-card">
      <div id="chris-avatar">
        <div class="team-icons">
          <a href="https://www.linkedin.com/in/chrisgeeq/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/chrisgeek" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
      <h3>Opara Ifeanyi Christian</h3>
    </div>
    <div class="about-team-card">
      <div id="jamie-avatar">
        <div class="team-icons">
          <a href="https://www.linkedin.com/in/jamiecheesman/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
      <h3>Jamie Cheesman</h3>
    </div>
  </div>
</div>
