<!--====== ABOUT SIX PART START ======-->
<section class="about-area about-six">
   <div class="container">
      <div class="row">
         <div class="col-lg-5">
            <div class="faq-content">
               <div class="faq-title">
                  <h5 class="sub-title fw-light">A Little More About Us</h5>
                  <h3 class="title fw-bold">
                     Frequently Asked Questions <br />
                     About Our Site
                  </h3>
               </div>
               <!-- faq title -->
               <div class="faq-accordion">
                  <div class="accordion" id="accordionExample">
                     <div class="card">
                        <div class="card-header" id="headingOne">
                           <a
                              href="javascript:void(0)"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseOne"
                              aria-expanded="true"
                              aria-controls="collapseOne"
                              >Frequently Asked Question One</a
                              >
                        </div>
                        <div
                           id="collapseOne"
                           class="collapse show"
                           aria-labelledby="headingOne"
                           data-bs-parent="#accordionExample"
                           >
                           <div class="card-body">
                              <p class="text">
                                 Morbi vehicula arcu et pellentesque tincidunt. Nunc
                                 ligula nulla, lobortis a elementum non, vulputate ut
                                 arcu. Aliquam erat volutpat. Nullam lacinia felis.
                              </p>
                           </div>
                        </div>
                     </div>
                     <!-- card -->
                     <div class="card">
                        <div class="card-header" id="headingTwo">
                           <a
                              href="javascript:void(0)"
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseTwo"
                              aria-expanded="false"
                              aria-controls="collapseTwo"
                              >Frequently Asked Question Two</a
                              >
                        </div>
                        <div
                           id="collapseTwo"
                           class="collapse"
                           aria-labelledby="headingTwo"
                           data-bs-parent="#accordionExample"
                           >
                           <div class="card-body">
                              <p class="text">
                                 Morbi vehicula arcu et pellentesque tincidunt. Nunc
                                 ligula nulla, lobortis a elementum non, vulputate ut
                                 arcu. Aliquam erat volutpat. Nullam lacinia felis.
                              </p>
                           </div>
                        </div>
                     </div>
                     <!-- card -->
                     <div class="card">
                        <div class="card-header" id="headingThree">
                           <a
                              href="javascript:void(0)"
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseThree"
                              aria-expanded="false"
                              aria-controls="collapseThree"
                              >Frequently Asked Question Three</a
                              >
                        </div>
                        <div
                           id="collapseThree"
                           class="collapse"
                           aria-labelledby="headingThree"
                           data-bs-parent="#accordionExample"
                           >
                           <div class="card-body">
                              <p class="text">
                                 Morbi vehicula arcu et pellentesque tincidunt. Nunc
                                 ligula nulla, lobortis a elementum non, vulputate ut
                                 arcu. Aliquam erat volutpat. Nullam lacinia felis.
                              </p>
                           </div>
                        </div>
                     </div>
                     <!-- card -->
                     <div class="card">
                        <div class="card-header" id="headingFore">
                           <a
                              href="javascript:void(0)"
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseFore"
                              aria-expanded="false"
                              aria-controls="collapseFore"
                              >Frequently Asked Question Four</a
                              >
                        </div>
                        <div
                           id="collapseFore"
                           class="collapse"
                           aria-labelledby="headingFore"
                           data-bs-parent="#accordionExample"
                           >
                           <div class="card-body">
                              <p class="text">
                                 Morbi vehicula arcu et pellentesque tincidunt. Nunc
                                 ligula nulla, lobortis a elementum non, vulputate ut
                                 arcu. Aliquam erat volutpat. Nullam lacinia felis.
                              </p>
                           </div>
                        </div>
                     </div>
                     <!-- card -->
                     <div class="card">
                        <div class="card-header" id="headingFive">
                           <a
                              href="javascript:void(0)"
                              class="collapsed"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapseFive"
                              aria-expanded="false"
                              aria-controls="collapseFive"
                              >Frequently Asked Question Five</a
                              >
                        </div>
                        <div
                           id="collapseFive"
                           class="collapse"
                           aria-labelledby="headingFive"
                           data-bs-parent="#accordionExample"
                           >
                           <div class="card-body">
                              <p class="text">
                                 Morbi vehicula arcu et pellentesque tincidunt. Nunc
                                 ligula nulla, lobortis a elementum non, vulputate ut
                                 arcu. Aliquam erat volutpat. Nullam lacinia felis.
                              </p>
                           </div>
                        </div>
                     </div>
                     <!-- card -->
                  </div>
               </div>
               <!-- faq accordion -->
            </div>
            <!-- faq content -->
         </div>
         <div class="col-lg-7">
            <div class="faq-image">
               <img src="https://cdn.ayroui.com/1.0/images/about/faq.jpg" alt="faq" />
            </div>
            <!-- faq image -->
         </div>
      </div>
      <!-- row -->
   </div>
   <!-- container -->
</section>
<!--====== ABOUT SIX PART ENDS ======-->
