<% title "How It Works" %>
<% description "Discover how to effortlessly find and apply to your ideal jobs with our one-click automation platform. Learn the simple steps to set up your account, upload your resume, and seamlessly apply to multiple positions in harmony with our climate-conscious mission." %>
<div class="how-works-container">
  <div class="how-it-works-column">
    <%= image_tag "how-it-works/find_job.png", alt: "Find your dream job" %>
    <%# <h2>Find your dream jobs</h2> %>
    <p>Extensively search for thousands of jobs on our site with multiple feautures to make yourself a succesful applicant.</p>
  </div>
  <div class="how-it-works-column">
    <%# <h2>Create an account</h2> %>
    <%= image_tag "how-it-works/create_account.png", alt: "Create an account", class: "create-account-png" %>
    <p>Creating an account is free and effortless, where you can easily upload your essential personal details for seamless job applications.</p>
  </div>
  <div class="how-it-works-column">
    <%= image_tag "how-it-works/apply.png", alt: "Apply to multiple jobs", class: "apply-png" %>
    <%# <h2>Apply to multiple jobs</h2> %>
    <p>Apply to all of your desired positions all at once without having to leave our website.</p>
  </div>
</div>
