<div id="landing-main">
  <div id="landing-left"></div>
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <h1>Apply to jobs at every company via a single site</h1>
  <div id="landing-right">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
    <img src="" alt="">
  </div>
</div>
<div id="landing-cto">
  <h3>Join the waitlist</h3>
</div>
