<div id="landing-main">
  <div id="landing-left"></div>
    <img src="" alt="logo">
    <img src="" alt="cheddar-outside-circle">
    <img src="" alt="cheddar-3d-icon">
    <h1>Apply to jobs at every company via a single site</h1>
  <div id="landing-right">
    <img src="../../assets/images/consulting-firms/accenture-logo.png" alt="accenture-logo">
    <img src="" alt="thebridgespan-logo">
    <img src="" alt="pwc-logo">
    <img src="" alt="lek-logo">
    <img src="" alt="ibm-logo">
    <img src="" alt="ey-logo">
    <img src="" alt="pa-logo">
    <img src="" alt="kpmg-logo">
    <img src="" alt="baringa-logo">
    <img src="" alt="bmc-logo">
    <img src="" alt="bcg-logo">
    <img src="" alt="grantthornton-logo">
    <img src="" alt="bdo-logo">
    <img src="" alt="erm-logo">
    <img src="" alt="atkins-logo">
    <img src="" alt="deloitte-logo">
  </div>
</div>
<div id="landing-cto">
  <h3>Join the waitlist</h3>
</div>
