<div class="container">
  <div class="row">

    <%# TODO: Fill up based on TrueUp Design %>

    <!-- Job Filters -->
    <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xl-4">
      <div class="job-filters mb-4">
        <div class="">
          <div class="pb-3 pb-lg-4">
            <div class="d-flex flex-row justify-content-between">
              <div class="mb-lg-3" style="font-size: 0.9rem;">
                <div class="ais-Stats"><span class="ais-Stats-text">XX,XX jobs</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Jobs List -->
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
      <div class="mb-4"><div class="">
        <div><div>
          <div class="mb-3 card">
            <div class="row card-body">
              <div class="col-12">
                <div class="d-flex overflow-hidden" style="width: 100%; min-height: 80px;">
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
