<%# <div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center d-none">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div> %>

<div class="container d-flex align-items-center justify-content-center">
  <div class="d-flex justify-content-center align-items-center w-75 border shadow-sm rounded-4 p-2 m-4">
    <div class="col-md-10 p-0 m-0">
      <div class="login-box">
        <h2 class="text-center">Processing your job applications</h2>
      </div>
    </div>
  </div>
</div>
