<%# <div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center d-none">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div> %>

<%# <div class="container d-flex align-items-center justify-content-center">
  <div class="d-flex justify-content-center align-items-center w-75 border shadow-sm rounded-4 p-2 m-4">
    <div class="col-md-10 p-0 m-0">
      <div class="login-box">
        <h2 class="text-center">Processing your job applications</h2>
      </div>
    </div>
  </div>
</div> %>

<form>
  <div class="form-section">
    <h2>Personal Information</h2>
    <div class="form-group">
      <label for="first-name">First name *</label>
      <input type="text" class="form-control" id="first-name" required>
    </div>
    <div class="form-group">
      <label for="last-name">Last name *</label>
      <input type="text" class="form-control" id="last-name" required>
    </div>
    <div class="form-group">
      <label for="email">Email *</label>
      <input type="email" class="form-control" id="email" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone *</label>
      <input type="tel" class="form-control" id="phone" required>
    </div>
  </div>

  <div class="form-section">
    <h2>Profile</h2>
    <div class="form-group">
      <label for="resume">Resume *</label>
      <input type="file" class="form-control-file" id="resume" required>
    </div>
  </div>

  <!-- Additional sections can be added here -->

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<%#
<form class="styles--2I-rr" data-ui="application-form">
  <div class="styles--1euHv">
    <div class="styles--1Xrqb ">
      <div class="styles--3uFdJ">
        <div class="styles--VzPaX">
          <div>
            <svg>
              <use xlink:href="#thunder"></use>
            </svg>
            <strong>Autofill application</strong>
          </div>
          <p>Save time by importing your resume in one of the following formats: .pdf, .doc, .docx, .odt, or .rtf.</p>
        </div>
      <div class="styles--11blb" data-ui="autofill-button"><div class="styles--D5pLK styles--1K7Lw"><div class="styles--Dwye-"><button aria-haspopup="true" aria-expanded="false" class="button--2de5X button--14TuV button--FDW79 primary--25RCR " type="button"><div class="styles--3qHIU">
<div class="styles--1jc0L">
  <div class="styles--3JEd1 styles--3IYUq">
    <label class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="CA_18698_label" class="styles--2TdGW  styles--QTMDv">
            <span>Import resume from</span>
            <svg id="sD4G5QYmDpzdTi8m" xmlns="http://www.w3.org/2000/svg" xlink:href="http://www.w3.org/1999/xlink" focusable="false" viewbox="0 0 16 16" width="14" height="14" preserveaspectratio="xMidYMin slice" aria-hidden="true" class="styles--1l-y0 styles--1ZHZq styles--2gQsg ">
              <desc aria-hidden="true">
                <p>SVGs not supported by this browser.</p>
              </desc>
              <g size="14" class="graph--3t2eQ graph--3SNxf graph--1T7TD " fill-rule="evenodd">
                <polygon points="8,11.4 2.6,6 4,4.6 8,8.6 12,4.6 13.4,6 "></polygon>
              </g>
            </svg>
          </span>
        </span>
      </span>
    </label>
  </div>
</div>
<span class="styles--332ku">
  <span class="styles--3VVrr  styles--33eUF">*</span> 
  <span class="styles--3VVrr  styles--f-uLT">Required fields</span>
</span>
<section data-ui="section" class="styles--QXNVJ">
  <div class="styles--r7_HT">
    <h2 id="section-0_section_name">Personal information</h2>
    <a tabindex="0" role="button" data-ui="clear-section-0" aria-label="Clear Personal information" class="button--2de5X button--14TuV  tertiary--1L6hu " aria-disabled="true">
      <svg>
        <use xlink:href="#trash16"></use>
      </svg>
      <span>Clear</span>
    </a>
  </div>
  <div class="styles--1jc0L">
    <div class="styles--3JEd1 styles--1FXtc styles--3IYUq">
      <label class="styles--3aPac">
        <span class="styles--1-9tY">
          <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
            <strong class="styles--2kqW6">*</strong>
          </span>
          <span>
            <span id="firstname_label" class="styles--2TdGW  styles--QTMDv">
              <strong class="styles--2kqW6">First name</strong>
            </span>
          </span>
        </span>
        <div data-role="illustrated-input" class="styles--1tBNa">
          <div class="styles--3qHIU">
            <input aria-required="true" id="firstname" maxlength="127" data-ui="firstname" name="firstname" aria-labelledby="firstname_label" required="" type="text" dir="auto" class="styles--2e9Cp " value="">
          </div>
        </div>
      </label>
    </div>
    <div class="styles--3JEd1 styles--1Vdt- styles--3IYUq">
      <label class="styles--3aPac">
        <span class="styles--1-9tY">
          <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
            <strong class="styles--2kqW6">*</strong>
          </span>
          <span>
            <span id="lastname_label" class="styles--2TdGW  styles--QTMDv">
              <strong class="styles--2kqW6">Last name</strong>
            </span>
          </span>
        </span>
        <div data-role="illustrated-input" class="styles--1tBNa">
          <div class="styles--3qHIU">
            <input aria-required="true" id="lastname" maxlength="127" data-ui="lastname" name="lastname" aria-labelledby="lastname_label" required="" type="text" dir="auto" class="styles--2e9Cp " value="">
          </div>
        </div>
      </label>
    </div>
    <div class="styles--3JEd1 styles--3IYUq">
      <label class="styles--3aPac">
        <span class="styles--1-9tY">
          <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
            <strong class="styles--2kqW6">*</strong>
          </span>
          <span>
            <span id="email_label" class="styles--2TdGW  styles--QTMDv">
              <strong class="styles--2kqW6">Email</strong>
            </span>
          </span>
        </span>
        <div data-role="illustrated-input" class="styles--1tBNa">
          <div class="styles--3qHIU">
            <input aria-required="true" id="email" maxlength="255" data-ui="email" name="email" aria-labelledby="email_label" required="" type="email" dir="auto" class="styles--2e9Cp " value="">
          </div>
        </div>
      </label>
    </div>
    <div class="styles--3JEd1 styles--3IYUq">
      <label class="styles--3aPac">
        <span class="styles--1-9tY">
          <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
            <strong class="styles--2kqW6">*</strong>
          </span>
          <span>
            <span id="phone_label" class="styles--2TdGW  styles--QTMDv">
              <strong class="styles--2kqW6">Phone</strong>
            </span>
          </span>
        </span>
        <div class="styles--1EuHm " data-ui="phone" data-ignore-focus="true">
          <div data-role="illustrated-input" class="styles--1tBNa">
            <div class="styles--3qHIU">
              <div class="iti iti--allow-dropdown iti--separate-dial-code">
                <div class="iti__flag-container">
                  <div class="iti__selected-flag" role="combobox" aria-controls="iti-0__country-listbox" aria-owns="iti-0__country-listbox" aria-expanded="false" tabindex="0" title="United Kingdom: +44" aria-activedescendant="iti-0__item-gb-preferred">
                    <div class="iti__flag iti__gb"></div>
                    <div class="iti__selected-dial-code">+44</div>
                    <div class="iti__arrow"></div>
                  </div>
                </div>
                <input aria-required="true" maxlength="255" name="phone" required="" type="tel" dir="auto" class="styles--2e9Cp " autocomplete="off" data-intl-tel-input-id="0">
              </div>
            </div>
          </div>
        </div>
      </label>
      <div class="styles--2v-7u">
        <div class="styles--1VNPc">
          <span class="styles--3VVrr styles--1_cM- styles--f-uLT" id="phone_helper">The hiring team may use this number to contact you about this job.</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-ui="section" class="styles--QXNVJ">
  <div class="styles--r7_HT">
    <h2 id="section-1_section_name">Profile</h2>
    <a tabindex="0" role="button" data-ui="clear-section-1" aria-label="Clear Profile" class="button--2de5X button--14TuV  tertiary--1L6hu " aria-disabled="true">
      <svg>
        <use xlink:href="#trash16"></use>
      </svg>
      <span>Clear</span>
    </a>
  </div>
  <div class="styles--1jc0L">
    <div class="styles--2mJeY">
      <div class="styles--YBb-N styles--3IYUq">
        <div class="styles--3aPac">
          <span class="styles--1-9tY">
            <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
              <strong class="styles--2kqW6">*</strong>
            </span>
            <span>
              <span id="Zj8oJoU9zChJK547_label" class="styles--2TdGW  styles--QTMDv">
                <strong class="styles--2kqW6">Resume</strong>
              </span>
              <span class="styles--3M5QA">
                <svg id="CeyPAxCNACQxFnhA" xmlns="http://www.w3.org/2000/svg" xlink:href="http://www.w3.org/1999/xlink" focusable="false" viewbox="0 0 16 16" width="16" height="16" preserveaspectratio="xMidYMin slice" aria-hidden="true" class="styles--2gQsg " aria-describedby="r9FUPGTLCbUVnvb0">
                  <desc aria-hidden="true">
                    <p>SVGs not supported by this browser.</p>
                  </desc>
                  <g class="graph--3t2eQ graph--3SNxf graph--1T7TD " fill-rule="evenodd">
                    <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 13c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1.5-4.6c-.5.3-.5.4-.5.6v1H7V9c0-1.3.8-1.9 1.4-2.3.5-.3.6-.4.6-.7 0-.6-.4-1-1-1-.4 0-.7.2-.9.5l-.5.9-1.7-1 .5-.9C5.9 3.6 6.9 3 8 3c1.7 0 3 1.3 3 3 0 1.4-.9 2-1.5 2.4z"></path>
                  </g>
                </svg>
              </span>
            </span>
          </span>
          <div data-role="dropzone" class="styles--1L916 styles--ZvWLm ">
            <div class="styles--wcS1q">
              <div class="styles--SxGQz ">
                <div data-role="preview" class="styles--QXE0e">
                  <label class="styles--3gG3Y" for="input_files_input_Zj8oJoU9zChJK547">
                    <svg id="jhJ4O3nabXSKDAO7" xmlns="http://www.w3.org/2000/svg" xlink:href="http://www.w3.org/1999/xlink" focusable="false" viewbox="0 0 24 24" width="24" height="24" preserveaspectratio="xMidYMin slice" aria-hidden="true" class="styles--2gQsg ">
                      <desc aria-hidden="true">
                        <p>SVGs not supported by this browser.</p>
                      </desc>
                      <use xlink:href="#upload24" fill-rule="evenodd" class="graph--3t2eQ graph--20oU0 graph--1T7TD "></use>
                    </svg>
                  </label>
                </div>
                <div class="styles--2dPKX"></div>
                <div class="styles--3vGN8"></div>
              </div>
            </div>
            <label for="input_files_input_Zj8oJoU9zChJK547" id="description_input_Zj8oJoU9zChJK547" aria-labelledby="Zj8oJoU9zChJK547_label" aria-describedby=" description_input_Zj8oJoU9zChJK547">
              <span tabindex="0" role="button" class="button--2de5X button--14TuV  tertiary--1JsWJ ">Upload a file</span>
              <span class="styles--2TdGW  styles--f-uLT">or drag and drop here</span>
            </label>
            <input data-ui="resume" tabindex="-1" class="styles--1lKzl  " id="input_files_input_Zj8oJoU9zChJK547" type="file" accept=".pdf,.doc,.docx,.odt,.rtf,application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.oasis.opendocument.text,application/rtf" required="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section data-ui="section" class="styles--QXNVJ">
  <div class="styles--r7_HT">
    <h2 id="section-2_section_name">Details</h2>
    <a tabindex="0" role="button" data-ui="clear-section-2" aria-label="Clear Details" class="button--2de5X button--14TuV  tertiary--1L6hu " aria-disabled="true">
      <svg>
        <use xlink:href="#trash16"></use>
      </svg>
      <span>Clear</span>
    </a>
  </div>
  <!-- END: ed8c6549bwf9 -->
</section>
<div class="styles--1jc0L">
  <div class="styles--3JEd1 styles--3IYUq">
    <label class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="CA_18698_label" class="styles--2TdGW  styles--QTMDv">
            <strong class="styles--2kqW6">Salary Expectation</strong>
          </span>
        </span>
      </span>
      <div data-role="illustrated-input" class="styles--1tBNa styles--3s7t8">
        <div class="styles--3qHIU">
          <textarea aria-required="true" id="CA_18698" data-ui="CA_18698" name="CA_18698" aria-labelledby="CA_18698_label" required="" type="text" rows="5" class="styles--2e9Cp styles--3fKJu styles--3sKVw " dir="auto"></textarea>
        </div>
      </div>
    </label>
  </div>
  <div class="styles--3JEd1 styles--3IYUq">
    <div class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="grrJS21KfWRsHpZA_label" class="styles--2TdGW  styles--QTMDv">
            <strong class="styles--2kqW6">Do you have the right to work in the UK?</strong>
          </span>
        </span>
      </span>
      <fieldset role="radiogroup" class="styles--2-TzV styles--3u2Bk styles--VaIjV styles--1dZq4 styles--24pXj " data-ui="QA_6308627" aria-labelledby="grrJS21KfWRsHpZA_label">
        <div data-ui="option" class="styles--2uZxz styles---EZXP   " aria-labelledby="grrJS21KfWRsHpZA_label radio_label_GDh6RH2Wc9lk7h8W" id="wrapper_GDh6RH2Wc9lk7h8W" role="radio" aria-checked="false" aria-required="true" tabindex="0">
          <label>
            <input aria-required="true" required="" id="GDh6RH2Wc9lk7h8W" tabindex="-1" aria-hidden="true" type="radio" name="QA_6308627" dir="auto" class="styles--2e9Cp " value="true">
            <div>
              <div class="styles--3qHIU">
                <svg id="NWGuxY6NvrzJQ8uu" xmlns="http://www.w3.org/2000/svg" xlink:href="http://www.w3.org/1999/xlink" focusable="false" viewbox="0 0 16 16" width="12" height="12" preserveaspectratio="xMidYMin slice" aria-hidden="true" class="styles--1l-y0  styles--2gQsg ">
                  <desc aria-hidden="true">
                    <p>SVGs not supported by this browser.</p>
                  </desc>
                  <g size="12" class="graph--3t2eQ graph--3SNxf graph--1T7TD styles--1l-y0 " fill-rule="evenodd">
                    <path transform="translate(0, 1.5)" d="M13.7357468,0.387338776 L5.3278608,8.79522476 L2.26425321,5.73161717 C1.74000771,5.22528393 0.90669323,5.2325252 0.391326028,5.7478924 C-0.124041173,6.26325961 -0.131282451,7.09657408 0.375050797,7.62081959 L4.38325959,11.6290284 C4.90499457,12.1506058 5.75072703,12.1506058 6.27246201,11.6290284 L15.6249492,2.27654119 C16.1312825,1.75229569 16.1240412,0.918981209 15.608674,0.403614007 C15.0933068,-0.111753194 14.2599923,-0.118994472 13.7357468,0.387338776 Z"></path>
                  </g>
                </svg>
                <span class="styles--33WZ1  styles--1h-sV"> </span>
                <span id="radio_label_GDh6RH2Wc9lk7h8W" class="styles--33WZ1  styles--1h-sV">yes</span>
              </div>
            </div>
          </label>
        </div>
        <div data-ui="option" class="styles--2uZxz styles---EZXP   " aria-labelledby="grrJS21KfWRsHpZA_label radio_label_LJ7qL7BltlFdx2qy" id="wrapper_LJ7qL7BltlFdx2qy" role="radio" aria-checked="false" aria-required="true" tabindex="-1">
          <label>
            <input aria-required="true" required="" id="LJ7qL7BltlFdx2qy" tabindex="-1" aria-hidden="true" type="radio" name="QA_6308627" dir="auto" class="styles--2e9Cp " value="false">
            <div>
              <div class="styles--3qHIU">
                <svg id="pQKOxytHSNPKfBKV" xmlns="http://www.w3.org/2000/svg" xlink:href="http://www.w3.org/1999/xlink" focusable="false" viewbox="0 0 16 16" width="12" height="12" preserveaspectratio="xMidYMin slice" aria-hidden="true" class="styles--1l-y0  styles--2gQsg ">
                  <desc aria-hidden="true">
                    <p>SVGs not supported by this browser.</p>
                  </desc>
                  <g size="12" class="graph--3t2eQ graph--3SNxf graph--1T7TD styles--1l-y0 " fill-rule="evenodd">
                    <path transform="translate(-1.2, 0.5) scale(1.13)" d="M14.276,0.390666667 C13.7553335,-0.129842584 12.9113331,-0.129842584 12.3906667,0.390666667 L8,4.78133333 L3.60933333,0.390666667 C3.08616148,-0.114629613 2.25455363,-0.107403165 1.7402419,0.406908566 C1.22593017,0.921220297 1.21870372,1.75282815 1.724,2.276 L6.11466667,6.66666667 L1.724,11.0573333 C1.37739122,11.3920993 1.2383832,11.8878372 1.36040379,12.3540098 C1.48242438,12.8201823 1.84648433,13.1842423 2.3126569,13.3062629 C2.77882948,13.4282835 3.27456737,13.2892754 3.60933333,12.9426667 L8,8.552 L12.3906667,12.9426667 C12.9138385,13.4479629 13.7454464,13.4407365 14.2597581,12.9264248 C14.7740698,12.412113 14.7812963,11.5805052 14.276,11.0573333 L9.88533333,6.66666667 L14.276,2.276 C14.7965093,1.75533353 14.7965093,0.911333135 14.276,0.390666667 Z"></path>
                  </g>
                </svg>
                <span class="styles--33WZ1  styles--1h-sV"> </span>
                <span id="radio_label_LJ7qL7BltlFdx2qy" class="styles--33WZ1  styles--1h-sV">no</span>
              </div>
            </div>
          </label>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="styles--3JEd1 styles--3IYUq">
    <label class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="QA_6308628_label" class="styles--2TdGW  styles--QTMDv">
            <strong class="styles--2kqW6">What are your salary expectations?</strong>
          </span>
        </span>
      </span>
      <div data-role="illustrated-input" class="styles--1tBNa">
        <div class="styles--3qHIU">
          <input aria-required="true" maxlength="17" texts="[object Object]" data-ui="QA_6308628" required="" name="QA_6308628" type="text" dir="auto" class="styles--2e9Cp " value="">
        </div>
      </div>
    </label>
  </div>
  <div class="styles--3JEd1 styles--3IYUq">
    <label class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="QA_6308629_label" class="styles--2TdGW  styles--QTMDv">
            <strong class="styles--2kqW6">What is your current notice period (in weeks)?</strong>
          </span>
        </span>
      </span>
      <div data-role="illustrated-input" class="styles--1tBNa">
        <div class="styles--3qHIU">
          <input aria-required="true" maxlength="17" texts="[object Object]" data-ui="QA_6308629" required="" name="QA_6308629" type="text" dir="auto" class="styles--2e9Cp " value="">
        </div>
      </div>
    </label>
  </div>
  <div class="styles--3JEd1 styles--aZ3VQ styles--3IYUq">
    <div class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="QA_6308630_label" class="styles--2TdGW  styles--QTMDv">
            <strong class="styles--2kqW6">Please select your preferred pronoun?</strong>
          </span>
        </span>
      </span>
      <div class="styles--2N29s " data-ui="QA_6308630" data-open="false" data-input-type="select">
        <label class="styles--2bW8g">
          <div data-role="illustrated-input" class="styles--2JAdl  styles--1tBNa">
            <div class="styles--3qHIU">
              <input role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-owns="input_QA_6308630_listbox" aria-controls="input_QA_6308630_listbox" aria-autocomplete="none" autocomplete="off" id="input_QA_6308630_input" placeholder="Select an option…" aria-labelledby="QA_6308630_label" type="text" dir="auto" class="styles--2e9Cp " value="" readonly>
              <svg id="G5xxFx9Sxx1qZcN1" xmlns="http://www.w3.org/2000/svg" xlink:href="http://www.w3.org/1999/xlink" focusable="false" viewbox="0 0 16 16" width="16" height="16" preserveaspectratio="xMidYMin slice" aria-hidden="true" class="styles--1l-y0 styles--3vT5q styles--Qlbt8 styles--2gQsg ">
                <desc aria-hidden="true">
                  <p>SVGs not supported by this browser.</p>
                </desc>
                <g size="16" class="graph--3t2eQ graph--3bTX1 graph--1T7TD " fill-rule="evenodd">
                  <polygon points="8,11.4 2.6,6 4,4.6 8,8.6 12,4.6 13.4,6 "></polygon>
                </g>
              </svg>
            </div>
          </div>
        </label>
        <input name="QA_6308630" required="" class="styles--3eBMS" tabindex="-1" aria-hidden="true" value="">
      </div>
    </div>
  </div>
  <div class="styles--3JEd1 styles--3IYUq">
    <label class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="QA_6308631_label" class="styles--2TdGW  styles--QTMDv">
            <strong class="styles--2kqW6">If the above does not capture your preferred pronoun, please could you state what it is?</strong>
          </span>
        </span>
      </span>
      <div data-role="illustrated-input" class="styles--1tBNa styles--3s7t8">
        <div class="styles--3qHIU">
          <textarea aria-required="true" id="QA_6308631" data-ui="QA_6308631" name="QA_6308631" aria-labelledby="QA_6308631_label" required="" type="text" rows="5" class="styles--2e9Cp styles--3fKJu styles--3sKVw " dir="auto"></textarea>
        </div>
      </div>
    </label>
  </div>
  <div class="styles--3JEd1 styles--3IYUq">
    <label class="styles--3aPac">
      <span class="styles--1-9tY">
        <span class="styles--2TdGW styles--3Y34Z styles--33eUF">
          <strong class="styles--2kqW6">*</strong>
        </span>
        <span>
          <span id="QA_6427777_label" class="styles--2TdGW  styles--QTMDv">
            <strong class="styles--2kqW6">If you are a referral from a current Kroo Bank employee, kindly provide their name. Otherwise, simply indicate "no"</strong>
          </span>
        </span>
      </span>
      <div data-role="illustrated-input" class="styles--1tBNa">
        <div class="styles--3qHIU">
          <input aria-required="true" id="QA_6427777" maxlength="127" data-ui="QA_6427777" name="QA_6427777" aria-labelledby="QA_6427777_label" required="" type="text" dir="auto" class="styles--2e9Cp " value="">
        </div>
      </div>
    </label>
  </div>
</div>
</section>
<button class="button--2de5X button--14TuV primary--25RCR styles--10XMc" data-ui="apply-button" type="submit">Submit application</button>
</form> %>
