:concurrency: 1
:timeout: 60
:verbose: true
:queues:
  # Queue priority:
  # https://github.com/mperham/sidekiq/wiki/Advanced-Options
  # https://mikerogers.io/2019/06/06/rails-6-sidekiq-queues
  - default
  - updates
  - mailers
  - active_storage_analysis
  - active_storage_purge
:scheduler:
  :schedule:
    # hello_world:
    #   cron: '0 0 * * *'   # Runs once per day(at midnight)
    #   class: Scraper::MonsterJob
    jobs_updater:
      cron: '0 3 * * *' # Runs once per day (at 3 am)
      class: UpdateExistingCompanyJobs
      queue: updates
    # true_up_scraper:
    #   cron: '0 2 * * *' # Runs once per day (at 2 am)
    #   class: ScrapeTrueUpJob
    #   queue: updates
    # devit_scraper:
    #   cron: '0 1 * * *' # Runs once per day (at 1 am)
    #   class: Scraper::DevItJob
    #   queue: updates
    # workable_xml_importer:
    #   cron: '0 4 * * *' # Runs once per day (at 4 am)
    #   class: Xml::WorkableJob
    #   queue: updates
