<% links = { "Website" => company.url_website, "LinkedIn" => company.url_linkedin, "Careers Site" => company.url_careers, "ATS Site" => company.url_ats_main } %>
<% links.each do |name, url| %>
  <% if url.present? %>
    <%= link_to url do %>
      <li class="company-link-btn"><%= name %> <i class="fa-solid fa-arrow-up-right-from-square"></i></li>
    <% end %>
  <% end %>
<% end %>
