<div class="my-6 flex gap-2.5 rounded-2xl border border-lilac-500/20 bg-lilac-50/50 p-4 leading-6 text-lilac-900 dark:border-lilac-500/30 dark:bg-lilac-500/5 dark:text-lilac-200 dark:[--tw-prose-links-hover:theme(colors.lilac.300)] dark:[--tw-prose-links:theme(colors.white)]">
  <%= inline_svg_tag('template/icons/info_lilac.svg') %>
  <div class="[&>:first-child]:mt-0 [&>:last-child]:mb-0"> 
    <%= yield :info_content %>
  </div>
</div>
