<%# LHS Logo %>
<div class="hidden lg:flex">
    <%= link_to opportunities_path, class: "flex h-6 w-24 items-center" do %>
      <%= inline_svg_tag('cheddar_logo_text_light.svg', class: "dark:hidden") %>
      <%= inline_svg_tag('cheddar_logo_text_dark.svg', class: "hidden dark:block") %>
    <% end %>
</div>

<%# Search Bar %>
<div class="hidden lg:flex lg:max-w-md lg:flex-auto absolute inset-x-0 left-1/2 transform -translate-x-1/2">
    <button type="button" class="hidden h-8 w-full items-center gap-2 rounded-full bg-white pl-2 pr-3 text-sm text-zinc-500 ring-1 ring-zinc-900/10 transition hover:ring-zinc-900/20 ui-not-focus-visible:outline-none lg:flex dark:bg-white/5 dark:text-zinc-400 dark:ring-inset dark:ring-white/10 dark:hover:ring-white/20" data-action="click->search#showSearch">
      <%= inline_svg_tag('template/icons/search.svg') %>
      <span>Find jobs ...</span>
      <kbd class="ml-auto text-2xs text-zinc-400 dark:text-zinc-500">
        <kbd class="font-sans">Ctrl </kbd>
        <kbd class="font-sans">K</kbd>
      </kbd>
    </button>
</div>
