<% social_links = [
  {
    sr_text: 'Follow us on X',
    icon_name: 'logos/x'
  },
  {
    sr_text: 'Follow us on Github',
    icon_name: 'logos/github'
  },
  {
    sr_text: 'Join our Discord server',
    icon_name: 'logos/discord'
  },
] %>
<div class="flex flex-col items-center justify-between gap-5 border-t border-zinc-900/5 pt-8 sm:flex-row dark:border-white/5">
  <p class="text-xs text-zinc-600 dark:text-zinc-400">
    &copy; Copyright 2024. All rights reserved.
  </p>
  <div class="flex gap-4">
    <% social_links.each do |link| %>
      <%= link_to  '#', class: 'group' do %>
        <span class="sr-only"><%= link[:sr_text] %></span>
        <%= inline_svg_tag("template/icons/#{link[:icon_name]}.svg") %>
      <% end %>
    <% end %>
  </div>
</div>