.CheddarGPTmodal {
  position: fixed; /* Keeps it in the same place on the screen */
  bottom: 30px; /* Distance from the bottom of the viewport */
  right: 30px; /* Distance from the right of the viewport */
  z-index: 1000; /* Ensures it stays on top of other elements */
  height: 80px;
  width: 80px;

  /* Additional Styling (Optional but recommended for better UX) */
  cursor: pointer; /* Changes the cursor to signify it's clickable */
  // padding: 10px 20px; /* Padding for better appearance */
  background-color: $secondary-color; /* Background color */
  color: white; /* Text color */
  border-radius: 50%; /* Rounded corners */
  text-align: center; /* Center the text inside the div */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  font-size: 14px; /* Adjust font size as needed */
  font-weight: 700;
  user-select: none; /* Prevents the text from being selectable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.CheddarGPTmodal:hover {
  background-color: $main-color; /* Darker shade on hover for feedback */
}

.yellow-circle {
  width: 50px;         /* Diameter of the circle */
  height: 50px;        /* Diameter of the circle */
  background-color: #FDDA02; /* Color of the circle */
  border-radius: 50%;  /* Makes the div a circle */
  /* Optional Styles */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
}

#chatbotModal .modal-dialog {
  position: fixed;
  background-color: white;
  right: 30px; /* Adjust as needed, should be aligned with your button */
  bottom: 120px; /* Adjust based on the height of your button */
  width: 280px; /* Adjust for desired width */
  margin: 0;
  z-index: 1050; /* Ensures it's above most other elements */
}

/* Optional: Overriding default modal styles */
#chatbotModal .modal-content {
  min-height: 350px; /* Adjust for desired height */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a shadow for depth */
  transition: transform .3s ease;
}

/* Adjusting header and footer */
#chatbotModal .modal-header, #chatbotModal .modal-footer {
  padding: 5px; /* Less padding for more space efficiency */
}

.modal-footer {
  display: flex;
  justify-content: space-between !important;
  flex: 1;
}

.modal-footer .form-group {
  width: 100%;
}

#chat-input {
  flex-grow: 1; /* Allows input to fill space */
  margin-right: 10px; /* Adds some space between input and button */
  padding: 6px 12px; /* Padding for better text visibility */
  border: none; /* Border to match Bootstrap's style */
  background-color: transparent;
  // border-radius: 0.25rem; /* Rounded corners */
  font-size: 0.9rem;
  color: #495057;
}

// .btn-apply {
//   padding: 6px 12px; /* Padding similar to input field */
//   color: white; /* Text color */
//   background-color: #007bff; /* Bootstrap primary color */
//   border: 1px solid #007bff; /* Border color */
//   border-radius: 0.25rem; /* Rounded corners */
//   cursor: pointer; /* Cursor to indicate it's clickable */
// }

/* Adjusting the style when the button is hovered */

.btn-apply:hover {
  background-color: $tertiary-color;
  // font-weight: 700;
  color: white;
}

.chedBot {
  display: none;
  transform: translate(200%, 0);
  transition: all 0.3s ease;
  opacity: 0;
  &.show {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Adjusting the modal body */
#chatbotModal .modal-body {
  overflow-y: auto; /* Adds scroll for overflow content */
  padding: 5px;
}

/* Ensures the modal appears above the button */
.modal-backdrop.show {
  opacity: 0; /* Optional: hides the backdrop to keep the button visible */
}

.message-card {
  margin-bottom: 2px;
  padding: 2px;
  border-radius: 8px;
  color: #333;
  font-size: 0.8rem;
}

/* Style for user messages */
.message-card.self {
  background-color: $main-color; /* Blue background for user messages */
  color: white; /* White text for user messages */
  text-align: right; /* Align user messages to the right */
  border-bottom-right-radius: 0; /* Makes it look like a speech bubble */
}

/* Style for chatbot messages */
.message-card {
  background-color: white; /* Light background for chatbot messages */
  text-align: left; /* Align chatbot messages to the left */
  border-bottom-left-radius: 0; /* Makes it look like a speech bubble */
}

.modal-slide-up {
  transition: transform 0.3s ease-out;
}
