// Rails components
@import "form_legend_clear";

// Global page sections
@import "navbar";
@import "footer";
@import "cheddargpt_modal";

// Global page components
@import "utility_classes";
@import "alert";
@import "avatar";
@import "button";
@import "forms";

// Local page components
@import "search_bar";
@import "header";
@import "job_card";
