.job-card {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e6f0;

  .card-body {
    padding: 10px;

    .col {
      display: flex;
      align-items: center;
      justify-content: center;
      // text-align: left;
      height: 70px;
      overflow-y: scroll;
      width: auto;
      padding-bottom: 0px;
      // padding-left: 2px;
      // padding-right: 2px;
      padding-top: 0px;
    }

    .col-2 {
      padding: 0px
    }
  }
}

.job-card img {
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.climate-rating {
  border-radius: 6px;
  background: #ECFFEE;
  color: #00B112;
  padding: 2px 12px;
  font-weight: 400;
}

.apply-rating {
  border-radius: 6px;
  border: 1px dashed;
  border-color: rgba(0, 0, 0, 0.18);
  padding: 2px 12px;
  font-weight: 400;
}
