.job-card {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #e3e6f0;

  .card-body {
    padding: 10px;
  }
}

.job-card img {
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.basic-info {
  width: 13rem;
}

.climate-rating {
  border-radius: 6px;
  background: #ECFFEE;
  color: #00B112;
  padding: 2px 12px;
  font-weight: 400;
}

.apply-rating {
  border-radius: 6px;
  border: 1px dashed;
  border-color: rgba(0, 0, 0, 0.18);
  padding: 2px 12px;
  font-weight: 400;
}

.meter {
  position: relative;
}

.line-horizontal {
  display: inline-block;
  border: none;
  margin: 0 4px;
  width: 96px;
  height: 1px;
  background-color: black;
  opacity: 0.18;
  vertical-align: middle;
}

.triangle-inverted-blue {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #007fb6;
}
