.navbar-lewagon {
  // justify-content: space-between;
  background: $main-color;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 0;

  a {
    color: white;
    // font-weight: 600;
  }

  a:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .dropdown-menu {
    background-color: $main-color;
    border-radius: 20px;
    .dropdown-item {
    color: white;
    border-radius: 20px;

      &:hover {
        color: white;
        background-color: $tertiary-color;
        font-weight: 700;
      }
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  border-radius: 5px;
  padding: 5px;
  border: 1px;
  // color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  padding: 0px;
  // color: white;
}

.avatar {
  margin-left: 5px;
}

.larger-image {
  width: 120px;
  height: 25px;
}

// .navbar-nav {
//   width: 500px;
// }
