#jobs-search-bar {
  margin-top: 30px;
  margin-bottom: 10px;

  input:focus {
    box-shadow: 0 0 5px $main-color;
  }
}

#search-jobs {
  width: 600px;
  border-radius: 10px;
}

.clear-search-icon {
  color: grey;
  position: relative;
  right: 28px;
  top: 10px;
}

#search-button {
  background-color: $main-color;
  color: white;
  // font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  // margin-right: 6px;
  margin-left: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-button:hover {
  opacity: 85%;
  color: white;
}
