#jobs-search-bar {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

#search-jobs {
  width: 600px;
  border-radius: 10px;
}

.clear-search-icon {
  color: grey;
  position: relative;
  right: 28px;
  top: 10px;
}

.sticky-top {
  top: 0;
  z-index: 1020; /* High enough to stay above other content */
}
