.text-sm {
  font-size: 0.8rem;
}

.text-xsm {
  font-size: 0.6rem;
}

.text-xxsm {
  font-size: 0.4rem;
}

.text-xxxsm {
  font-size: 0.2rem;
}

.small-text {
  font-size: 0.8rem;
}

.bg-main {
  background-color: $main-color;
}

.tc-main {
  color: $main-color;
}
