<div class="container" data-controller="job-index-toggle">
  <%= form_tag apply_jobs_path, method: :post do %>

    <div class="d-flex align-items-center justify-content-between">
      <h3 id="saved-jobs-index-title">My Saved Jobs</h3>
      <div><%= submit_tag "Apply to 0 Jobs", id: "apply-button", "data": {job_index_toggle_target: "applyButton"}, class: "btn btn-apply" %></div>
    </div>

    <div class="job-cards-container pt-0" data-controller="load-more">
        <%= render partial: 'jobs/job_card', collection: @saved_jobs.map(&:job), as: :job %>
    </div>

  <% end %>
</div>
