#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  flex: 1 0 auto;
}

.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
    flex-shrink: 0;
  width: 100%;
  margin-top: 100px;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.page-links a {
  color: black;
  opacity: 0.3;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
}

// .footer-copyright {
//   display: flex;
//   justify-content: right;
//   align-items: right;
// }
