---
http_interactions:
- request:
    method: get
    uri: https://api.smartrecruiters.com/v1/companies/Gousto1/postings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dcr-Decision-By:
      - public-posting-api
      Dcr-Processing-Time-Ms:
      - '1'
      Etag:
      - W/"c5a9-tmL+EiWr0pgat2hhK4D4zDLHX8s"
      Datacenter:
      - fran
    body:
      encoding: ASCII-8BIT
      string: '{"offset":0,"limit":100,"totalFound":18,"content":[{"id":"744000003338800","name":"Food
        Technical Administrator - (12 Month Fixed Term Contract)","uuid":"5646d6c7-574b-4322-b34c-fda5c3d5aeb0","jobAdId":"47bf63d9-ac4e-44c9-9c37-2703577b6e4d","defaultJobAd":true,"refNumber":"000000000578","company":{"identifier":"Gousto1","name":"Gousto"},"releasedDate":"2024-07-29T08:51:00.002Z","location":{"city":"Warrington","country":"gb","remote":false},"industry":{"id":"food_and_beverages","label":"Food
        And Beverages"},"department":{},"function":{"id":"information_technology","label":"Information
        Technology"},"typeOfEmployment":{"id":"permanent","label":"Full-time"},"experienceLevel":{"id":"associate","label":"Associate"},"customField":[{"fieldId":"630c7100443cdf3e99c72afa","fieldLabel":"Grade","valueId":"1520c772-c2db-4295-97f5-cd489facac05","valueLabel":"No
        Grade"},{"fieldId":"630f84820e23e120dc6765d9","fieldLabel":"Legal entity","valueId":"fb5748db-69db-483b-b9c3-06f38d9296db","valueLabel":"Gousto"},{"fieldId":"630c74d55d9cbe1185a98b8f","fieldLabel":"Pay
        frequency","valueId":"7cade280-1285-48d0-a136-ea0e0d038243","valueLabel":"Monthly"},{"fieldId":"630c743b160583356526ff22","fieldLabel":"Tribe","valueId":"d7da8bb0-a7a6-4695-9090-ccd265bfe159","valueLabel":"Default"},{"fieldId":"63a2ed58cccaf22c88b3909d","fieldLabel":"Domain/Ski[...]
