---
http_interactions:
- request:
    method: get
    uri: https://api.smartrecruiters.com/v1/companies/Gousto1/postings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dcr-Decision-By:
      - public-posting-api
      Dcr-Processing-Time-Ms:
      - '1'
      Etag:
      - W/"98d5-Z9K0gezRb5N1xzbbI8kxhLbIWCk"
      Datacenter:
      - fran
    body:
      encoding: ASCII-8BIT
      string: '{"offset":0,"limit":100,"totalFound":14,"content":[{"id":"744000003360384","name":"Junior
        Technical Artworker - (12 Month Fixed Term Contract)","uuid":"d67d464f-923c-4e6c-8a94-55113df4dd68","jobAdId":"862af3c0-0fd6-4041-8bd7-5e1c1a3c8e1b","defaultJobAd":true,"refNumber":"000000000574","company":{"identifier":"Gousto1","name":"Gousto"},"releasedDate":"2024-07-29T10:18:30.916Z","location":{"city":"London","country":"gb","remote":false},"industry":{"id":"food_and_beverages","label":"Food
        And Beverages"},"department":{},"function":{"id":"information_technology","label":"Information
        Technology"},"typeOfEmployment":{"id":"permanent","label":"Full-time"},"experienceLevel":{"id":"associate","label":"Associate"},"customField":[{"fieldId":"630c7100443cdf3e99c72afa","fieldLabel":"Grade","valueId":"1520c772-c2db-4295-97f5-cd489facac05","valueLabel":"No
        Grade"},{"fieldId":"630f84820e23e120dc6765d9","fieldLabel":"Legal entity","valueId":"fb5748db-69db-483b-b9c3-06f38d9296db","valueLabel":"Gousto"},{"fieldId":"630c74d55d9cbe1185a98b8f","fieldLabel":"Pay
        frequency","valueId":"7cade280-1285-48d0-a136-ea0e0d038243","valueLabel":"Monthly"},{"fieldId":"630c743b160583356526ff22","fieldLabel":"Tribe","valueId":"0e447d0a-2ee5-4f18-8154-07908e50a8d3","valueLabel":"Choice"},{"fieldId":"63a2ed58cccaf22c88b3909d","fieldLabel":"Domain/Skil[...]
