---
http_interactions:
- request:
    method: get
    uri: https://api.smartrecruiters.com/v1/companies/Gousto1/postings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dcr-Decision-By:
      - public-posting-api
      Dcr-Processing-Time-Ms:
      - '1'
      Etag:
      - W/"c5a9-tmL+EiWr0pgat2hhK4D4zDLHX8s"
      Datacenter:
      - fran
    body:
      encoding: ASCII-8BIT
      string: '{"offset":0,"limit":100,"totalFound":18,"content":[{"id":"744000003338800","name":"Food
        Technical Administrator - (12 Month Fixed Term Contract)","uuid":"5646d6c7-574b-4322-b34c-fda5c3d5aeb0","jobAdId":"47bf63d9-ac4e-44c9-9c37-2703577b6e4d","defaultJobAd":true,"refNumber":"000000000578","company":{"identifier":"Gousto1","name":"Gousto"},"releasedDate":"2024-07-29T08:51:00.002Z","location":{"city":"Warrington","country":"gb","remote":false},"industry":{"id":"food_and_beverages","label":"Food
        And Beverages"},"department":{},"function":{"id":"information_technology","label":"Information
        Technology"},"typeOfEmployment":{"id":"permanent","label":"Full-time"},"experienceLevel":{"id":"associate","label":"Associate"},"customField":[{"fieldId":"630c7100443cdf3e99c72afa","fieldLabel":"Grade","valueId":"1520c772-c2db-4295-97f5-cd489facac05","valueLabel":"No
        Grade"},{"fieldId":"630f84820e23e120dc6765d9","fieldLabel":"Legal entity","valueId":"fb5748db-69db-483b-b9c3-06f38d9296db","valueLabel":"Gousto"},{"fieldId":"630c74d55d9cbe1185a98b8f","fieldLabel":"Pay
        frequency","valueId":"7cade280-1285-48d0-a136-ea0e0d038243","valueLabel":"Monthly"},{"fieldId":"630c743b160583356526ff22","fieldLabel":"Tribe","valueId":"d7da8bb0-a7a6-4695-9090-ccd265bfe159","valueLabel":"Default"},{"fieldId":"63a2ed58cccaf22c88b3909d","fieldLabel":"Domain/Ski[...]
[...]
- request:
    method: get
    uri: https://api.smartrecruiters.com/v1/companies/Gousto1/postings/744000003338800
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dcr-Decision-By:
      - public-posting-api
      Dcr-Processing-Time-Ms:
      - '1'
      Etag:
      - W/"1b72-A4hfGS7I0a5e5ba3qbxJb4xDRwA"
      Datacenter:
      - fran
    body:
[...]
- request:
    method: get
    uri: http://dev.virtualearth.net/REST/v1/Locations/Warrington,%20United%20Kingdom?key=As9GK0TwxULCFyDaoq4D-Y69ba9KgY2PSUp3XopYkZuhJWWm_gYcGosV7sjd7b8l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bm-Traceid:
      - 7e9253133b43422e8d7d0f7b0b2d6b9b
      X-Bm-Srv:
      - mapsplatform-frontend-5989d449fd-zk7ph, mapsplatform-forwardgeocoder-service-69c675d4f5-65llh
      X-Ms-Bm-Ws-Info:
      - '0'
      X-Bm-Fe-Elapsed:
      - '98'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJhdXRoZW50aWNhdGlvblJlc3VsdENvZGUiOiJWYWxpZENyZWRlbnRpYWxzIiwiYnJhbmRMb2dvVXJpIjoiaHR0cDovL2Rldi52aXJ0dWFsZWFydGgubmV0L0JyYW5kaW5nL2xvZ29fcG93ZXJlZF9ieS5wbmciLCJjb3B5cmlnaHQiOiJDb3B5cmlnaHQgwqkgMjAyNCBNaWNyb3NvZnQgYW5kIGl0cyBzdXBwbGllcnMuIEFsbCByaWdodHMgcmVzZXJ2ZWQuIFRoaXMgQVBJIGNhbm5vdCBiZSBhY2Nlc3NlZCBhbmQgdGhlIGNvbnRlbnQgYW5kIGFueSByZXN1bHRzIG1heSBub3QgYmUgdXNlZCwgcmVwcm9kdWNlZCBvciB0cmFuc21pdHRlZCBpbiBhbnkg[...]
- request:
    method: get
    uri: http://dev.virtualearth.net/REST/v1/Locations/Warrington?key=As9GK0TwxULCFyDaoq4D-Y69ba9KgY2PSUp3XopYkZuhJWWm_gYcGosV7sjd7b8l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bm-Traceid:
      - 0aea8fdc916da6bd51a60bdd533256da
      X-Bm-Srv:
      - mapsplatform-frontend-5989d449fd-s5s9v, mapsplatform-forw[...]
- request:
    method: get
    uri: http://dev.virtualearth.net/REST/v1/Locations/United%20Kingdom?key=As9GK0TwxULCFyDaoq4D-Y69ba9KgY2PSUp3XopYkZuhJWWm_gYcGosV7sjd7b8l
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bm-Traceid:
      - d29b07f89e560be0a480aeb75ed649f3
      X-Bm-Srv:
      - mapsplatform-frontend-5989d449fd-n9sn9, mapsplatfor[...]
