---
http_interactions:
- request:
    method: get
    uri: https://api.smartrecruiters.com/v1/companies/Gousto1/postings
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Dcr-Decision-By:
      - public-posting-api
      Dcr-Processing-Time-Ms:
      - '1'
      Etag:
      - W/"90e0-7TFEpwVXb6bWBvegJY+rmmrnOac"
      Datacenter:
      - fran
    body:
      encoding: ASCII-8BIT
      string: '{"offset":0,"limit":100,"totalFound":13,"content":[{"id":"744000004103271","name":"Software
        Engineer - Frontend React / TypeScript","uuid":"40d7894b-0500-45b3-9ca6-73615ec50839","jobAdId":"e784b016-8f0b-42b3-baa6-7163ec2d9d01","defaultJobAd":true,"refNumber":"000000000542","company":{"identifier":"Gousto1","name":"Gousto"},"releasedDate":"2024-08-01T12:58:53.953Z","location":{"city":"London","country":"gb","remote":false},"industry":{"id":"food_and_beverages","label":"Food
        And Beverages"},"department":{},"function":{"id":"information_technology","label":"Information
        Technology"},"typeOfEmployment":{"id":"permanent","label":"Full-time"},"experienceLevel":{"id":"mid_senior_level","label":"Mid-Senior
        Level"},"customField":[{"fieldId":"630c7100443cdf3e99c72afa","fieldLabel":"Grade","valueId":"b2c16d92-d5b0-4389-abdf-8ac9e31e4935","valueLabel":"Tech
        Level 2"},{"fieldId":"630f84820e23e120dc6765d9","fieldLabel":"Legal entity","valueId":"fb5748db-69db-483b-b9c3-06f38d9296db","valueLabel":"Gousto"},{"fieldId":"630c74d55d9cbe1185a98b8f","fieldLabel":"Pay
        frequency","valueId":"7cade280-1285-48d0-a136-ea0e0d038243","valueLabel":"Monthly"},{"fieldId":"630c743b160583356526ff22","fieldLabel":"Tribe","valueId":"bf5b9a5d-9705-4d96-a909-742091f5f1cc","valueLabel":"Expand"},{"fieldId":"63a2ed58cccaf22c88b3909d","fieldLabel":"Domain/[...]
