---
http_interactions:
- request:
    method: post
    uri: https://api.crunchbase.com/api/v4/searches/organizations?user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: UTF-8
      string: '{"field_ids":["name","short_description","linkedin","website_url","rank_org"],"order":[{"field_id":"rank_org","sort":"asc"}],"query":[{"type":"predicate","field_id":"website_url","operator_id":"domain_eq","values":["https://www.gotocompany.com/"]}],"limit":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1718896220043"
      X-Cb-Engine:
      - search:elastic
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Minimum-Count:
      - '1'
      X-Cb-Engine-Page-Count:
      - '1'
      X-Cb-Engine-Took:
      - '4'
      X-Cb-Engine-Total-Count:
      - '1'
      X-Cb-Request-Took:
      - '17'
    body:
      encoding: UTF-8
      string: '{"count":1,"entities":[{"uuid":"0f2e5ecc-d44c-49c0-9e36-7a117fb1eedc","properties":{"name":"GoTo
        Group","identifier":{"permalink":"goto-group","image_id":"pioqotgm6efdzbjvkirg","uuid":"0f2e5ecc-d44c-49c0-9e36-7a117fb1eedc","entity_def_id":"organization","value":"GoTo
        Group"},"linkedin":{"value":"https://www.linkedin.com/company/gotogroup"},"short_description":"GoTo
        Group offers a digital ecosystem for on-demand services, e-commerce, fintech,
        and logistics.","rank_org":3288,"website_url":"https://www.gotocompany.com"}}]}'
  recorded_at: Thu, 20 Jun 2024 15:10:20 GMT
recorded_with: VCR 6.2.0
