---
http_interactions:
- request:
    method: post
    uri: https://api.crunchbase.com/api/v4/searches/organizations?user_key=9eebe4bdec6f10ec631cbb8573cb8de2
    body:
      encoding: UTF-8
      string: '{"field_ids":["name","short_description","linkedin","website_url","rank_org"],"order":[{"field_id":"rank_org","sort":"asc"}],"query":[{"type":"predicate","field_id":"website_url","operator_id":"domain_eq","values":["https://www.lightdash.com/"]}],"limit":1}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1718981020536"
      X-Cb-Engine:
      - search:elastic
      X-Cb-Engine-Cached:
      - 'false'
      X-Cb-Engine-Minimum-Count:
      - '1'
      X-Cb-Engine-Page-Count:
      - '1'
      X-Cb-Engine-Took:
      - '4'
      X-Cb-Engine-Total-Count:
      - '1'
      X-Cb-Request-Took:
      - '11'
    body:
      encoding: UTF-8
      string: '{"count":1,"entities":[{"uuid":"301bce04-1610-4369-a9db-29de9623e65f","properties":{"name":"Lightdash","identifier":{"permalink":"hubble-e65f","image_id":"citkfzfr7esouu3essw6","uuid":"301bce04-1610-4369-a9db-29de9623e65f","entity_def_id":"organization","value":"Lightdash"},"linkedin":{"value":"https://www.linkedin.com/company/lightdash"},"short_description":"Lightdash
        turns a dbt project into a full-stack BI platform.","rank_org":84628,"website_url":"https://www.lightdash.com"}}]}'
  recorded_at: Fri, 21 Jun 2024 14:43:40 GMT
recorded_with: VCR 6.2.0
