<h1 class="sr-only">Account Settings</h1>
<header class="border-b border-zinc-900/5 dark:border-white/5">
  <nav class="flex overflow-x-auto py-4">
    <ul role="list" class="flex min-w-full flex-none gap-x-6 px-4 text-sm font-semibold leading-6 text-gray-400 sm:px-6 lg:px-8">
      <li>
        <%= link_to "Account", edit_registration_path(current_user), class: nav_css('users/registrations', :edit) %>
      </li>
      <li>
        <%= link_to "Frequent asked information", edit_user_details_path, class: nav_css("/user_details", :edit)  %>
      </li>
      <li>
        <%= link_to "Saved searches", saved_searches_path, class: nav_css("/saved_searches", :index) %>
      </li>
    </ul>
  </nav>
</header>
