<article class="flex w-2/3 mx-auto h-full flex-col pb-10 pt-16">
    <h1 class="sr-only">Account Settings</h1>
    <header class="border-b border-zinc-900/5 dark:border-white/5">
      <nav class="flex overflow-x-auto py-4">
        <ul role="list" class="flex min-w-full flex-none gap-x-6 px-4 text-sm font-semibold leading-6 text-gray-400 sm:px-6 lg:px-8">
          <li>
            <%= link_to "Account", edit_registration_path(current_user), class: "text-gray-400 hover:text-indigo-600" %>
          </li>
          <li>
            <%= link_to "Frequent asked information", edit_user_details_path, class: "text-indigo-600 dark:text-indigo-400" %>
          </li>
        </ul>
      </nav>
    </header>
    <div class="divide-y divide-zinc-900/5 dark:divide-white/5">
        <div class="grid max-w-8xl sm:grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
            <div>
                <h2 class="text-base font-semibold leading-7 text-gray-900 dark:text-white">Personal Information</h2>
                <p class="mt-1 text-sm leading-6 text-gray-500 dark:text-gray-400">Use a permanent address where you can receive mail.</p>
            </div>
            <%= render 'form' %>
        </div>
    </div>
</article>
